<main class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xl-12 infopage__floating">
                <h1 class="title" style="text-align:center;padding-bottom:70px">
                    Complete Your Booking
                </h1>
                <label style="padding:30px 0;font-size:25px;opacity:0.8">1. Your Information</label>
                <div class="main-content">
                    <form data-toggle="validator" role="form" action="#" method="get" data-error="Wrong Input, Please re-enter" >

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control"  data-error="First name is required" required />
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control"  data-error="Last name is required" required/>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputEmail">E-mail</label>
                                    <input type="email" class="form-control" id="inputEmail"  data-error="E-mail is required" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Phone</label><br/>
                                <input id="phone" class="form-control"  name="phone" type="tel"/>
                            </div>
                            <script src="/libs/build/js/intlTelInput.js"></script>
                            <script>
                                var input = document.querySelector("#phone");
                                window.intlTelInput(input, {
                                    // allowDropdown: false,
                                    // autoHideDialCode: false,
                                    // autoPlaceholder: "off",
                                    // dropdownContainer: document.body,
                                    // excludeCountries: ["us"],
                                    // formatOnDisplay: false,
                                    // geoIpLookup: function(callback) {
                                    //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
                                    //     var countryCode = (resp && resp.country) ? resp.country : "";
                                    //     callback(countryCode);
                                    //   });
                                    // },
                                    // hiddenInput: "full_number",
                                    // initialCountry: "auto",
                                    // localizedCountries: { 'de': 'Deutschland' },
                                    // nationalMode: false,
                                    // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                                    // placeholderNumberType: "MOBILE",
                                    // preferredCountries: ['cn', 'jp'],
                                    // separateDialCode: true,
                                    utilsScript: "/libs/build/js/utils.js",
                                });
                            </script>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" >
                                    <label>Special Requests/Comment</label><br/>
                                    <textarea class="form-control" placeholder="The desired trip start time is 10am."></textarea>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" style=" border-top: 1px solid rgba(0,0,0,.2);margin-top:30px;">
                            <button type= "submit" class="btn pull-right" style="margin-top:20px">continue</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xl-12 bookingpage__floating">
                <h1 class="cart-title" style="text-align: center;">Complete Your Booking Request</h1>
                <img class = "img-responsive"  src="https://pics.chartergenius.com/p/id_77a5be21381044588f38f769596675cf__b_0__ext_jpeg__w_800__hf_1/GAMAL1%2Ejpg">
                <h2></h2>
                <h3>
                    Dubai, United Arab Emirates, Rest of the World
                </h3>
                <div style="padding: 0 21px;">
                    <div class="row prop">
                        <div class="col-xl-6 label-text">Date</div>
                        <div class="col-xl-6  text-right">9/2/2020</div>
                    </div>
                    <div class="row prop">
                        <div class="col-xl-6 label-text">Charter Type</div>
                        <div class="col-xl-6 text-right"></div>
                    </div>
                    <div class="row prop">
                        <div class="col-xl-4 label-text">Passengers</div>
                        <div class="col-xl-8 text-right">2</div>
                    </div>
                </div>
                <div class="booking-totals-summary-container" style="min-height: 100px;">
                    <div class="row prop" style="padding-bottom:5px; border-bottom: 1px solid rgba(0,0,0,.2)">
                        <div class="col-xl-6 label-text">Boat Rental</div>
                        <div class="col-xl-6  text-right" style="font-weight:600">$0.00</div>
                    </div>
                    <div class="row prop" style="padding-top:5px;color: #14264a;font-weight:600;font-size:27px;border-bottom:1px solid rgba(0,0,0,.2);padding-bottom:30px">
                        <div class="col-xl-6 label-text">Total fee</div>
                        <div class="col-xl-6 text-right">$3,000.00</div>
                    </div>

                </div>
                <div class="notice">
                    <i class="glyphicon glyphicon-warning-sign" style="padding-left: 3px; color: #0072a0;"></i>
                    <span>You won't be charged until the request is approved and confirmed by the boat operator.</span></div>
            </div>
        </div>
    </div>

</main>
