<main>
	<div class="container">
		<div class="row" >
			<div class="col-md-3 menu-terms">
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="/press">Press</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Safety</a></li>
					<li><a href="/terms_of_service">Terms of Service</a></li>
					<li><a href="/privacy_policy">Privacy Policy</a></li>
					<li><a href="#">Cancellation</a></li>
					<li><a href="#">Fees</a></li>
					<li><a href="#">Copyright Policy</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-sm-12  main-terms">


				<div><div><h1>PRESS CENTER</h1></div><hr></div><span>
<p>
										Whether you are looking for a boat for water sports or cruising, a fishing boat to explore a local fishing hole, or a sailboat to leisurely set sail, Boatsetter creates safe and unique boat rental experiences at any price.
									</p><h3>Featured Posts</h3><p>August 6, 2020 - <a href="https://www.huffpost.com/entry/safe-boating-coronavirus-pandemic_l_5f2a23a1c5b6a34284c0d9c5?guccounter=1" target="_blank">Is It Safe To Go Boating During The Coronavirus Pandemic?</a><a href="https://www.huffpost.com/entry/safe-boating-coronavirus-pandemic_l_5f2a23a1c5b6a34284c0d9c5?guccounter=1"></a></p><p>August 3, 2020 - <a href="https://www.usatoday.com/story/travel/advice/2020/08/03/boat-rentals-provide-social-distancing-amid-covid-19-how-to/3288215001/" target="_blank">I'm on a boat: What to know and how to go about renting a boat in the age of COVID-19</a><a href="https://www.usatoday.com/story/travel/advice/2020/08/03/boat-rentals-provide-social-distancing-amid-covid-19-how-to/3288215001/"></a></p><p>July 8, 2020 - <a href="https://www.prnewswire.com/news-releases/leading-peer-to-peer-boat-rental-platform-boatsetter-experiences-record-breaking-demand-as-traffic-surges-270-301089742.html?tc=eml_cleartime" target="_blank">Leading Peer-to-Peer Boat Rental Platform, Boatsetter, Experiences Record-Breaking Demand as Traffic Surges 270%</a></p><p>August 14, 2019 - <a href="https://www.prnewswire.com/news-releases/leading-boat-rental-marketplace-boatsetter-secures-10-million-in-new-series-a-funding-300901746.html?tc=eml_cleartime">Boat Rental Marketplace, Boatsetter, Secures $10 Million in New Series A Funding</a></p><h3><br>
								</h3><h3>Press Releases</h3><p>August 6, 2020 - <a href="https://www.huffpost.com/entry/safe-boating-coronavirus-pandemic_l_5f2a23a1c5b6a34284c0d9c5?guccounter=1" target="_blank">Is It Safe To Go Boating During The Coronavirus Pandemic?</a><a href="https://www.huffpost.com/entry/safe-boating-coronavirus-pandemic_l_5f2a23a1c5b6a34284c0d9c5?guccounter=1"></a></p><p>August 3, 2020 - <a href="https://www.usatoday.com/story/travel/advice/2020/08/03/boat-rentals-provide-social-distancing-amid-covid-19-how-to/3288215001/" target="_blank">I'm on a boat: What to know and how to go about renting a boat in the age of COVID-19</a><a href="https://www.usatoday.com/story/travel/advice/2020/08/03/boat-rentals-provide-social-distancing-amid-covid-19-how-to/3288215001/"></a></p><p>July 30, 2020 - <a href="https://www.seattletimes.com/life/outdoors/seattles-summer-has-finally-arrived-here-are-ways-to-get-on-the-water-regardless-of-your-budget/" target="_blank">Here are ways to get on the water safely in Seattle this summer — no matter your budget</a><a href="https://www.seattletimes.com/life/outdoors/seattles-summer-has-finally-arrived-here-are-ways-to-get-on-the-water-regardless-of-your-budget/"></a></p><p>July 23, 2020 - <a href="https://www.wsj.com/articles/a-guide-to-renting-your-own-boat-sensibly-11595526463" target="_blank">A Guide to Renting Your Own Boat, Sensibly</a><a href="https://www.wsj.com/articles/a-guide-to-renting-your-own-boat-sensibly-11595526463"></a></p><p>
									July 8, 2020 -
									<a href="https://www.prnewswire.com/news-releases/leading-peer-to-peer-boat-rental-platform-boatsetter-experiences-record-breaking-demand-as-traffic-surges-270-301089742.html?tc=eml_cleartime" target="_blank">Leading Peer-to-Peer Boat Rental Platform, Boatsetter, Experiences Record-Breaking Demand as Traffic Surges 270%</a>
								</p><p>
									August 14, 2019 -
									<a href="https://www.prnewswire.com/news-releases/leading-boat-rental-marketplace-boatsetter-secures-10-million-in-new-series-a-funding-300901746.html?tc=eml_cleartime">Boat Rental Marketplace, Boatsetter, Secures $10 Million in New Series A Funding</a>
								</p><p>
									May 16, 2019 -
									<a href="http://www.martinflory.com/releases/boa24385.pdf">Captains provide Boatsetter owners with peace-of-mind</a>
								</p><p>
									April 11, 2019 -
									<a href="http://www.martinflory.com/releases/boa24223.pdf">With Boatsetter, Handing over the keys is easy</a>
								</p><p>
									March 14, 2019 -
									<a href="http://www.martinflory.com/releases/boa24331.pdf">Boatsetter owners earn up to $350 for every referral</a>
								</p><p>
									February 14, 2019 -
									<a href="http://www.martinflory.com/releases/boa24290.pdf">Boatsetter Launches Charter Genius</a>
								</p><p>
									January 10, 2019 -
									<a href="http://www.martinflory.com/releases/boa24220.pdf">Average Boatsetter owner made over $4,600 in 2018</a>
								</p><p>
									December 20, 2018 -
									<a href="http://www.martinflory.com/releases/boa24178.pdf">Just in time for the holidays: The gift of Boating</a>
								</p><p>
									December 17, 2018 -
									<a href="https://boatingindustry.com/news/2018/12/17/boatsetter-makes-key-executive-appointments/">Boatsetter makes key executive appointments</a>
								</p><p>
									April 25, 2018 -
									<a href="https://finance.yahoo.com/news/boatsetter-com-airbnb-boats-accelerates-170000152.html">Boatsetter accelerates its consolidation of the Global Boat Charter market with its second acquisition in seven months</a>
								</p><p>
									February 6, 2018 -
									<a href="https://www.newswire.com/news/boatsetter-launches-the-leading-boat-rental-marketplace-in-the-us-20174697" target="_blank">Boatsetter Launches the Leading Boat Rental Marketplace in the US</a>
								</p><p>
									May 14, 2015 -
									<a href="http://www.prlog.org/12452625-sandboxx-and-p2p-marketplace-boatbound-get-veterans-on-the-water-free-this-memorial-day.html">Sandboxx and P2P Marketplace Boatbound Get Veterans On-The-Water Free This Memorial Day</a>
								</p><p>
									March 26, 2014 -
									<a href="http://blog.boatbound.co/post/80785682810/brunswick-announces-partnership-with-boatbound-the">Brunswick Announces Partnership With Boatbound, The Leading Peer-to-Peer Boat Rental Marketplace</a>
								</p><p>
									June 26, 2013 -
									<a href="http://www.prweb.com/releases/Boatbound-and-BOATERexam/announce-partnership/prweb10866162.htm">Boatbound and BOATERexam.com® partner to create free online boater safety course, supporting goal of making boating accessible to everyone</a>
								</p><h5></h5><h3></h3><h3></h3><h3><br>
								</h3><h3>Media Contacts</h3><p>
									Boatsetter Public Relations- <a href="mailto:mailto: pr@boatsetter.com">pr@boatsetter.com</a></p><p><br></p><h3>Recent Press</h3><p>
									August 14, 2019 - Techcrunch -
									<a href="https://techcrunch.com/2019/08/14/peer-to-peer-boat-rental-marketplace-boatsetter-raises-10m-as-it-looks-to-grow-globally/">Peer-to-peer boat rental marketplace Boatsetter raises $10M as it looks to grow globally</a>
								</p><p>
									July 29, 2019 - PYMNTS Magazine -
									<a href="https://www.pymnts.com/news/retail/2019/charting-a-sharing-economy-course-for-boat-rentals/">Charting A Sharing Economy Course For Boat Rentals</a><br>
								</p><p>
									June 23, 2019 - Chiataglance -
									<a href="http://chiataglance.com/2019/06/boatsetter-commitment-free-yacht-rentals/">Commitment free Yacht rentals</a>
								</p><p>
									July 22, 2019 - First Quarter Finance -
									<a href="https://firstquarterfinance.com/boat-rentals-near-me/">Where to Find Boat Rentals Near Me</a>
								</p><p>
									July 16, 2019 - NerdWallet -
									<a href="https://www.nerdwallet.com/blog/loans/boat-loans-finance-boat-purchase/">Boat Loans: How to Finance a Boat Purchase - NerdWallet</a>
								</p><p>
									July 9, 2019 - MSN Lifestyle -
									<a href="https://www.msn.com/en-us/travel/tripideas/40-under-the-radar-boating-destinations-across-the-country/ss-AAE1Dhb#image=13">40 Under-The-Radar Boating Destinations Across the Country</a>
								</p><p>
									July 5, 2019 - Inc.com -
									<a href="https://www.inc.com/magazine/201908/jeanine-skowronski/lead-remotely-ceo-manage-delegate-travel-schedule.html?cid=landermore">3 Practical Tips for Great Bosses Who Are Never in the Office</a>
								</p><p>
									June 27, 2019 - Inverse -
									<a href="https://www.inverse.com/article/57096-everything-you-need-to-take-a-well-planned-vacation">Everything You Need to Take a Well-Planned Vacation</a><br>
								</p><p>
									June 20, 2019 - Fox News -
									<a href="https://video.foxnews.com/v/6050324180001/?playlist_id=930909787001#sp=show-clips" target="_blank">Summer fun is only a click away with rental apps for surf boards and boats</a><a href="https://video.foxnews.com/v/6050324180001/?playlist_id=930909787001#sp=show-clips"></a>
								</p><p>
									June 18, 2019 - Inverse -
									<a href="https://www.inverse.com/article/56523-yes-you-can-legit-rent-a-boat-like-an-uber">Yes, You Can Legit Rent a Boat Like an Uber</a>
								</p><p>
									June 4, 2019 - USA Today -
									<a href="https://www.usatoday.com/story/travel/experience/2019/06/04/airbnb-style-rentals-include-swimming-pools-rvs-farms-and-boats/1210466001/">Swimming pools, RVs, farms and boats: Peer-to-peer rentals take cues from Airbnb</a>
								</p><p>
									May 23, 2019 - Thrillist -
									<a href="https://www.thrillist.com/events/los-angeles/things-to-do-in-los-angeles-this-weekend">Everything You Have to Do in LA This Memorial Day Weekend</a>
								</p><p>
									May 11, 2019 - Palm Beach Post -
									<a href="https://www.palmbeachpost.com/news/20190510/airbnb-of-yachts-offers-summer-florida-travel-alternative/1">'Airbnb of yachts' offers a summer Florida travel alternative</a>
								</p><p>
									April 16, 2019 - Miami Herald -
									<a href="https://www.miamiherald.com/news/business/article227300949.html">How the 'Airbnb of boats' is trying to rule the waves with rentals</a>
								</p><p>
									April 11, 2019 - Miami Herald -
									<a href="https://www.miamiherald.com/news/business/article227300949.html">How the 'Airbnb of boats' is trying to rule the waves with rentals</a>
								</p><p>
									January 11, 2019 - Forbes -
									<a href="https://www.forbes.com/sites/colehaan/2019/01/10/how-swap-and-share-experiences-are-changing-travel/#5ffbf64c5126">How swap and share experiences are changing travel</a>
								</p><p>
									December 21, 2018 - The Manual -
									<a href="https://www.themanual.com/auto/live-out-your-yacht-fantasies-by-the-day-with-boatsetter/">Live out your Yacht Fantasies by the day with Boatsetter</a>
								</p><p>
									December 17, 2018 - Boating Industry -
									<a href="https://boatingindustry.com/news/2018/12/17/boatsetter-makes-key-executive-appointments/">Boatsetter makes key executive appointments</a>
								</p><p>
									December 6, 2018 - Dating News -
									<em><a href="https://www.datingnews.com/daters-pulse/boatsetter-helps-couples-find-boats-for-romantic-experiences/">Boatsetter Helps Couples Find Boats for Experiences Ranging From Luxury Getaways to Romantic Proposals</a></em>
								</p><p>
									December 5, 2018 - Medium -
									<em><a href="https://bit.ly/2E6upIu">How Real People Make Extra Money for the Holidays</a></em>
								</p><p>
									December 4, 2018 - Boating Industry Canada -
									<em><a href="https://bit.ly/2rmkI0Y">Boatsetter Owners Rent Their Boats and Make Money</a></em>
								</p><p>
									November 16, 2018 - Goop -
									<em><a href="https://bit.ly/2PZB3a8">The Traveler's Guide: Holiday Gifts for Travel Enthusiasts</a></em>
								</p><p>
									November 14, 2018 - Fit Small Business -
									<em><a href="https://bit.ly/2qJqlpT">Top 32 Online Business Ideas</a></em>
								</p><p>
									November 13, 2018 - Medium -
									<em><a href=" https://bit.ly/2zOFpXr">Three Investors Breaking the Mold </a></em>
								</p><p>
									November 9, 2018 - Considerable Financial -
									<em><a href="https://bit.ly/2RFwEpY">8 Ways to Make Real Money Renting Your Stuff</a></em>
								</p><p>
									November 9, 2018 - PYMNTS Magazine -
									<em><a href="https://bit.ly/2DvCgQp">Boatsetter's Slow Sail Into The Sharing Economy</a></em><em></em>
								</p><p>
									November 6, 2018 - The Tech Tribune -
									<em><a href="http://thetechtribune.com/8-best-tech-startups-in-fort-lauderdale/?fbclid=IwAR0qml0KHyxfvnlihgYXYmc7f2vM28TDkN8zMR2-I3wI05pV585LSJVrkEU">2019 Best Tech Startups in Fort Lauderdale</a></em>
								</p><p>
									October 26, 2018 - Visit Florida -
									<em><a href="https://bit.ly/2CHnkxu">Florida Boat Rentals Made Easy with Airbnb-style Apps</a></em>
								</p><p>
									October 26, 2018 - MoneyHax -
									<em><a href="https://bit.ly/2Jgs9iu">5 Sharing Apps Similar to Airbnb</a></em>
								</p><p>
									October 19, 2018 - South Florida Business Journal -
									<em><a href="https://bit.ly/2J7MyGu">What boat owners should consider before chartering or sharing vessels</a></em>
								</p><p>
									October 19, 2018 - South Florida Business Journal -
									<em><a href="https://bit.ly/2RZWqpP">Innovations in technology attract new boaters</a></em>
								</p><p>
									October 19, 2018 - 500.co -
									<em><a href="https://bit.ly/2CVM3PN">Why 500 Startups is betting on Miami, and so should you</a></em>
								</p><p>
									October 18, 2018 - Boats.com -
									<a href="https://www.boats.com/boat-buyers-guide/fractional-boat-ownership/">Fractional Boat Ownership</a>
								</p><p>
									October 11, 2018 - Houseboat Magazine -
									<em><a href="https://bit.ly/2RQJhiS">Fishing with Ghosts 9 Haunted Spots to Wet a Hook this Halloween</a></em>
								</p><p>
									October 7, 2018 - Safe Haven News -
									<em><a href="https://bit.ly/2BZ0gKl">Millennials Love Luxury, They Just Don't Want To Pay For It</a></em>
								</p><p>
									October 5, 2018 - Medium -
									<em><a href="https://bit.ly/2O4Efkt">Women Of The C-Suite: "Have extremely clear KPI's you can hold your division leaders accountable to" With Jaclyn Baumgarten</a></em>
								</p><p>
									September 28, 2018 - MoneyHax.com -
									<em><a href="https://bit.ly/2N8FNV7">Airbnb for Boats and Yachts - Find a Boat and Sail Away</a></em>
								</p><p>
									September 19, 2018 - Inc. -
									<em><a href="https://bit.ly/2pnkypk">12 Daily Habits Practiced by Highly Successful People</a></em>
								</p><p>
									August 29, 2018 - LA Magazine -
									<em><a href="https://bit.ly/2LCM6Qn">10 Best Things to do in L.A. for Labor Day Weekend</a></em><br>
								</p><p>
									August 26, 2019 - W Magazine -
									<em><a href="https://www.wmagazine.com/story/labor-day-weekend-last-minute-travel-ideas-places-hotels" target="_blank">10 Special Last-Minute Labor Day Weekend Getaways to Book Now</a></em><br>
								</p><p>
									August 19, 2018 - Property Portal Watch -
									<em><a href="https://bit.ly/2nPiupo ">Airbnb is Taking to the Sea to Beat European Lodging Regulations</a></em><br>
								</p><p>
									August 15, 2018 - Market Watch -
									<em><a href="https://on.mktw.net/2MgsDds">20 Ways You Can Rent Stuff Out For Extra Cash</a> </em><br>
								</p><p>
									July 30, 2018 - Amrank -
									<em><a href="https://amrank.info/2018/07/27/this-week-at-home-sail-away/" target="_blank">This Week at Home: Sail Away</a></em><a href="https://amrank.info/2018/07/27/this-week-at-home-sail-away/"></a><em><a href="https://amrank.info/2018/07/27/this-week-at-home-sail-away/"></a></em>
								</p><p>
									July 23, 2018 - The Wealth Advisor -
									<em><a href="https://www.thewealthadvisor.com/article/how-turn-your-retirement-great-second-life" target="_blank">How To Turn Your Retirement Into A Great Second Life</a></em>
								</p><p>
									July 23, 2018 - Make Use Of -
									<a href="https://www.makeuseof.com/tag/airbnb-for-cars-boats/"><em>The Best Airbnb Clo</em>nes for Cars, Boats, and Other Rental Services</a>
								</p><p>
									July 20, 2018 - Boat Trader -
									<a href="https://bit.ly/2LtqhXh"><em>Affordable Boating: Getting Started for Less</em></a>
								</p><p>
									July 17, 2018 - Inside Hook -
									<a href="https://www.insidehook.com/chicago/9-chicago-boats-for-any-occasion"><em>THESE 9 CHICAGO BOAT RENTALS WILL COVER EVERY MARITIME OCCASION</em></a>
								</p><p>
									July 17, 2018 - Inside Hook -
									<a href="https://www.insidehook.com/new-york/7-nyc-boat-rentals-for-every-occasion"><em>THESE 7 NYC BOAT RENTALS WILL COVER EVERY MARITIME OCCASION</em></a>
								</p><p>
									July 12, 2018 - Time Out Miami -
									<a href="https://www.timeout.com/miami/news/the-best-things-to-do-in-miami-this-weekend-july-1315-071218"><em>The best things to do in Miami this weekend: July 13–15</em></a>
								</p><p>
									July 11, 2018 - Forbes -
									<a href="https://bit.ly/2JeeqHA"><em>How To Turn Your Retirement Into A Great Second Life</em></a>
								</p><p>
									July 9, 2018 - Miami New Times -
									<a href="https://bit.ly/2KLV81O"><em>Event: Boatsetter Summer Splash</em></a>
								</p><p>
									July 3, 2018 - Soundings Trade Only -
									<a href="https://www.tradeonlytoday.com/industry-news/swiss-firm-introduces-boat-swapping-business-model"><em>Swiss firm introduces 'boat-swapping' business model</em></a>
								</p><p>
									July 2, 2018 - Black Southern Belle -
									<a href="https://bit.ly/2tNkH8f"><em>5 Best Places to Watch the fourth of July Fireworks by Boat</em></a>
								</p><p>
									June 28, 2018 - Haute Living -
									<a href="http://hauteliving.com/2018/06/best-view-fireworks-fourth-july-miami/657936/"><em>Where To Get The Best View Of The Fireworks On Fourth Of July In Miami</em></a>
								</p><p>
									June 28, 2018 - Money Talk News -
									<a href="https://www.moneytalksnews.com/why-your-next-boat-should-someone-elses/"><em>4 Cheaper Ways to Go Boating Without Buying a Boat</em></a>
								</p><p>
									June 26, 2018 - GoBankingRates -
									<a href="https://www.gobankingrates.com/net-worth/financial-planning/important-assets-increase-net-worth/#16"><em>16 Most Important Assets That Will Increase Your Net Worth</em></a>
								</p><p>
									June 26, 2018 - Pontoon and Deck Boat Magazine -
									<a href="http://www.pdbmagazine.com/2018/06/fourth-of-july-fireworks">Fourth of July Fireworks: 9 Best Places to Watch By Boat</a>
								</p><p>
									June 21, 2018 - The Economist -
									<a href="https://www.economist.com/business/2018/06/23/yacht-sharing-startups-vie-to-rule-the-waves">Yacht-Sharing Start-Ups Vie To Rule The Waves</a>
								</p><p>
									June 6, 2018 - Fort Myers Florida Weekly -
									<a href="https://fortmyers.floridaweekly.com/articles/a-surge-of-peer-to-peer-boat-rentals-arrives/">A Surge In Peer-To-Peer Boat Rental Arrives</a>
								</p><p>
									May 22, 2018 - Tampa Bay Times -
									<a href="http://www.tampabay.com/things-to-do/travel/florida/8-ways-to-get-on-the-water-in-Tampa-Bay-if-you-don-t-own-a-boat_168224724">8 Ways to Get On The Water on Tampa Bay If You Don't Own A Boat</a>
								</p><p>
									May 22, 2018 - Skift -
									<a href="https://skift.com/2018/05/22/the-state-of-luxury-yacht-rentals-and-sharing-schemes/">The State of Luxury Yacht Rentals and Sharing Schemes</a>
								</p><p>
									April 19, 2018 - Dating Advice -
									<em><a href="https://www.datingadvice.com/for-men/boatsetter-helps-couples-create-romance-on-the-water">Boatsetter Helps Couples Create Romantic Experiences on the Water Through Easy Rentals and Array of Boating Options</a></em>
								</p><p>
									February 28, 2018 - Florida Weekly -
									<a href="https://fortmyers.floridaweekly.com/articles/ahoy-landlubbers/">AHOY, landlubbers</a>
								</p><p>
									February 23, 2018 - PureWow -
									<a href="https://www.purewow.com/entertainment/birthday-party-places-in-miami">9 Awesome Places to Celebrate Your Birthday in Miami (That Aren't Just a Bar)</a>
								</p><p>
									February 20, 2018 - The Plunge -
									<a href="https://www.theplunge.com/bachelorparty/the-last-72-hours-bachelor-party-miami" target="_blank">The Last 72 Hours: Bachelor Party Miami</a>
								</p><p>
									February 6, 2018 - Techstartups -
									<a href="https://techstartups.com/2018/02/06/airbnb-for-boats-startup-boatsetter-expands-its-boat-sharing-marketplace-with-over-4000-boats-in-more-than-300-cities/" target="_blank">'Airbnb for boats' startup Boatsetter expands its boat-sharing marketplace with over 4,000 boats in more than 300 cities</a>
								</p><p>
									February 6, 2018 - Richard Magazine -
									<a href="https://www.richardmagazine.com/valentines-day-boatsetter/">"</a><a href="https://www.richardmagazine.com/valentines-day-boatsetter/">Make Renting a Boat Cruise the Most Romantic Thing You Do This Valentine's Day"</a>
								</p><p>
									December 21, 2017 - Soundings Trade Only Today -
									<a href="https://www.tradeonlytoday.com/marine-industry/integration-key-trend-in-electronics" target="_blank">"Forecast 2018"</a><br>
								</p><p>
									December 20, 2017 - South Florida Business Journal -
									<a class="in-cell-link" href="https://www.bizjournals.com/southflorida/news/2017/12/20/florida-companies-selected-to-join-endeavor-global.html" target="_blank">"3 S. Fla. companies selected to join Endeavor Global entrepreneurship network"</a><br>
								</p><p>
									December 14, 2017 - Travel Agent Central -
									<a href="https://www.travelagentcentral.com/running-your-business/taking-kids-holiday-gifts-for-your-favorite-little-traveler-and-big-ones-too" target="_blank">"Taking the Kids -- Holiday Gifts for Your Favorite Little Traveler (and Big Ones, Too)"</a><br>
								</p><p>
									December 14, 2017 - The Chicago Tribune -
									<a href="http://www.chicagotribune.com/lifestyles/travel/sns-201712140013--tms--takekidstp--f-a20171214-20171214-story.html" target="_blank">"TAKING THE KIDS — HOLIDAY GIFTS FOR YOUR FAVORITE LITTLE TRAVELER (AND BIG ONES, TOO)"</a><br>
								</p><p>
									December 14, 2017 - Taking The Kids -
									<a href="https://www.takingthekids.com/weekly-column/taking-the-kids-holiday-gifts-for-your-favorite-little-traveler-and-big-ones-too/#.WjwvrlQ-fOS" target="_blank">"TAKING THE KIDS — HOLIDAY GIFTS FOR YOUR FAVORITE LITTLE TRAVELER (AND BIG ONES, TOO)"</a><br>
								</p><p>
									December 12, 2017 - Garden and Gun -
									<a href="http://gardenandgun.com/articles/add-splash-caribbean-holidays/" target="_blank">"Add a Splash of the Caribbean to Your Holidays"</a><br>
								</p><p>
									December 4, 2017 - My Simple Health Life Online -
									<a href="http://www.mysimplehealthlife.com/52-tricks-to-make-everything-better-in-2018/" target="_blank">"52 tricks to make everything better in 2018"</a>
								</p><p>
									November 28, 2017 - Coastal Living -
									<a href="https://www.coastalliving.com/travel/atlantic/sail-from-key-west-to-key-largo" target="_blank">"Dream Trip: Boat From Key West to Key Largo"</a><br>
								</p><p>
									November 28, 2017 - BoatUS Magazine -
									<a href="http://www.boatus.com/magazine/2017/december/hurricane-season-2017.asp" target="_blank">"Hurricane Season 2017: Who Is Back In Business"</a><br>
								</p><p>
									November 17, 2017 - Trend Hunter -
									<a class="in-cell-link" href="https://www.trendhunter.com/trends/boatsetter" target="_blank">"'Boatsetter' is a Sharing Economy Platform for Seafarers"</a><br>
								</p><p>
									November 17, 2017 - Moms Everyday -
									<a class="in-cell-link" href="http://www.momseveryday.com/content/global/7-different-and-awesome-ways-to-celebrate-Thanksgiving-401130406.html" target="_blank">"7 different and awesome ways to celebrate Thanksgiving"</a><br>
								</p><p>
									November 5, 2017 - CGTN-TV -
									<a class="in-cell-link" href="https://www.youtube.com/watch?v=1uwwJ_Pdm7E&amp;feature=youtu.be" target="_blank">"Boat rental service looks change experience in leasing vessels"</a><br>
								</p><p>
									November 5, 2017 - CBS News LA Online -
									<a href="http://losangeles.cbslocal.com/2017/11/05/15-fun-things-to-do-in-la-on-your-day-off/" target="_blank">"15 Fun Things To Do In LA On Your Day Off"</a><br>
								</p><p>
									November 5, 2017 - News of Southern California -
									<a href="https://newsofsocal.com/2017/11/05/15-fun-things-to-do-in-la-on-your-day-off/" target="_blank">"15 Fun Things To Do In LA On Your Day Off"</a>
								</p><p>
									November 3, 2017 - Great Lakes Boating Magazine Online -
									<a href="http://greatlakesboatingfederation.com/boat-help-save-retirement/" target="_blank">"Your Boat Could Help You Save for Retirement"</a><br>
								</p><p>
									November 2, 2017 - South Florida Business Journal -
									<a class="in-cell-link" href="https://www.bizjournals.com/southflorida/news/2017/11/02/unbound-tech-conference-takeaways.html" target="_blank">"Startup founders spell out problems with Miami's tech scene at Unbound conference"</a><br>
								</p><p>
									October 31, 2017 -
									<a class="in-cell-link" href="http://www.sun-sentinel.com/business/fl-bz-boatsetter-fort-lauderdale-headquarters-20171030-story.html" target="_blank">"Boat-sharing site Boatsetter relocates headquarters to Fort Lauderdale"</a><br>
								</p><p>
									October 27, 2017 - Coastal Living -
									<a class="in-cell-link" href="http://www.coastalliving.com/travel/haunted-places-to-take-your-boat#catalina-island-haunted" target="_blank">"7 Haunted Islands, Harbors, Lighthouses, (and More!) That You Can See by Boat"</a><br>
								</p><p>
									October 20, 2017 - All At Sea South Florida -
									<a class="in-cell-link" href="https://www.allatsea.net/women-take-helm-south-florida-marine-industry/" target="_blank">"Women Take the Helm in the South Florida Marine Industry"</a><br>
								</p><p>
									October 17, 2017 - Q Salt Lake Magazine -
									<a class="in-cell-link" href="https://qsaltlake.com/news/2017/10/17/7-stylish-ways-support-disaster-relief-right-now/" target="_blank">"7 Stylish Ways to Support Disaster Relief Right Now"</a><br>
								</p><p>
									October 10, 2017 - ASA -
									<a href="https://asa.com/news/2017/10/10/ownerless-sailing/#">"Ownerless Sailing"</a><br>
								</p><p>
									October 2017 Issue - Lakeland Boating -
									<a class="in-cell-link" href="http://www.lakelandboating.com/scuttle-extra/boatsetter-acquires-boatbound" target="_blank">"Boatsetter Acquires Boatbound"</a>
								</p><p>
									September 19, 2017 - Men's Journal -
									<a href="http://www.mensjournal.com/sports/articles/we-tried-the-airbnb-of-boats-heres-what-we-found-w500624">"Testing Out the Surprisingly Great AirBnB of Boats"</a><br>
								</p><p>
									September 12, 2017 - Boating Industry -
									<a href="http://boatingindustry.com/features/2017/09/12/boatsetter-positioned-for-future-growth-with-recent-consolidation/" target="_blank">"Boatsetter positioned for future growth with recent consolidation"</a><br>
								</p><p>
									September 5, 2017 - Miami New Times -
									<a href="http://www.allatsea.net/wp-content/uploads/2017/08/all-at-sea-south-florida-0917.pdf" target="_blank">"Women Take the Helm in the South Florida Marine Industry"</a><br>
								</p><p>
									September 4, 2017 - Miami New Times -
									<a href="http://www.miaminewtimes.com/restaurants/miamis-best-food-events-this-week-september-4-through-september-7-9638605" target="_blank">"Miami's Best Eats and Drinks This Week: Texas Lemonade, Hurricane Harvey Benefit Concert, and Free Pizza"</a>
								</p><p>
									September 2, 2017 - Miami New Times -
									<a href="http://www.miaminewtimes.com/restaurants/five-ways-to-cool-off-in-miami-this-weekend-9639009" target="_blank">"Five Ways to Cool Off in Miami This Weekend"</a><br>
								</p><p>
									August 31, 2017 - Miami New Times -
									<a class="in-cell-link" href="http://www.miaminewtimes.com/restaurants/boatsetter-in-miami-lets-you-eat-and-drink-on-the-water-9563957" target="_blank">Boatsetter, the Airbnb of Boating, Lets You Chill on the Water"</a><br>
								</p><p>
									August 30, 2017 - InsideHook -
									<a href="https://www.insidehook.com/los-angeles/boatsetter-renting-boats-airbnb" target="_blank">"THE SIX BOATS YOU NEED IN SOUTHERN CALIFORNIA"</a><br>
								</p><p>
									August 29, 2017 - Fort Lauderdale Daily -
									<a class="in-cell-link" href="https://www.fortlauderdaledaily.com/upfront/noteworthy/inside-look-boatsetters-launch-airbnb-offering-boating-experiences-south-florida" target="_blank">"An Inside Look At Boatsetter's Launch On Airbnb Offering Boating Experiences In South Florida"</a><br>
								</p><p>
									August 29, 2017 - Boca Voice -
									<a class="in-cell-link" href="http://www.thebocavoice.com/boatsetter-acquires-another-chartering-company/" target="_blank">"Boatsetter acquires another chartering company"</a><br>
								</p><p>
									August 28, 2017 - Ocean Drive -
									<a class="in-cell-link" href="https://oceandrive.com/the-best-boatsetter-yachts-to-rent-in-miami" target="_blank">"SET SAIL IN STYLE WITH THESE LUXURY YACHTS FROM BOATSETTER"</a><br>
								</p><p>
									August 23, 2017 - InsideHook -
									<a href="https://www.insidehook.com/new-york/boatsetter-boat-sailboat-yacht-rental-nyc" target="_blank">"THESE 7 BOATS ARE SCRUBBED AND READY TO BOARD, CAPTAIN"</a><br>
								</p><p>
									August 21, 2017 - Marine Business -
									<a href="http://www.marinebusiness.com.au/" target="_blank">"Boatsetter goes big with Boatbound"</a><br>
								</p><p>
									August 19, 2017 - Digital Trends -
									<a href="https://www.digitaltrends.com/outdoors/boatsetter-acquires-boatbound/"> "Boatbound and Boatsetter combine forces for all your nautical needs"</a>
								</p><p>
									August 18, 2017 - Soundings Trade Only -
									<a class="in-cell-link" href="https://www.tradeonlytoday.com/industry-news/boat-rental-marketplace-boatsetter-acquires-boatbound" target="_blank">"Boat rental marketplace Boatsetter acquires Boatbound"</a><br>
								</p><p>
									August 18, 2017 - Yahoo! Finance -
									<a class="in-cell-link" href="https://finance.yahoo.com/video/airbnb-boats-startup-boatsetter-buys-211530136.html" target="_blank">"'Airbnb for boats' startup Boatsetter buys competitor Boatbound"</a><br>
								</p><p>
									August 18, 2017 - Bravo TV Online -
									<a href="http://www.bravotv.com/below-deck/blogs/now-you-can-feasibly-rent-a-yacht-to-throw-a-killer-party-at-sea" target="_blank">"Now You Can Feasibly Rent a Yacht to Throw a Killer Party at Sea"</a><br>
								</p><p>
									August 18, 2017 - Bradenton Herald Online -
									<a class="in-cell-link" href="http://www.bradenton.com/news/business/article167924072.html" target="_blank">"Florida boat-sharing startup swallows up big U.S. rival, plans global expansion"</a><br>
								</p><p>
									August 18, 2017 - Boating Industry -
									<a class="in-cell-link" href="http://boatingindustry.com/news/2017/08/18/boatsetter-acquires-boatbound-prepares-for-international-expansion/" target="_blank">"Boatsetter acquires Boatbound, prepares for international expansion"</a><br>
								</p><p>
									August 18, 2017 - Fortune -
									<a class="in-cell-link" href="http://fortune.com/2017/08/18/term-sheet-friday-august-18/" target="_blank">"Term Sheet — Friday, August 18"</a><br>
								</p><p>
									August 18, 2017 - South Florida Business Journal -
									<a class="in-cell-link" href="https://www.bizjournals.com/southflorida/news/2017/08/18/boatsetter-inks-acquisition-raises-4-75m.html" target="_blank">"Boatsetter inks acquisition, raises $4.75M"</a><br>
								</p><p>
									August 18, 2017- GeekWire -
									<a href="https://www.geekwire.com/2017/boatsetter-brings-boatbound-aboard-acquiring-seattle-based-ship-sharing-startup/">"Boatsetter brings Boatbound aboard, acquiring Seattle-based ship-sharing startup"</a>
								</p><p>
									August 17, 2017 - The Miami Herald -
									<a class="in-cell-link" href="http://www.miamiherald.com/news/business/technology/article167866367.html" target="_blank">"South Florida boat-sharing startup swallows up big U.S. rival, plans global expansion"</a><br>
								</p><p>
									August 17, 2017 - Tech Crunch -
									<a href="https://techcrunch.com/2017/08/17/peer-to-peer-boat-rental/?ncid=mobilerecirc_recent">"'Airbnb for boats' startup Boatsetter buys competitor"</a><br>
								</p><p>
									August 17, 2017 - Haute Living -
									<em><a class="in-cell-link" href="http://hauteliving.com/2017/08/a-new-yorkers-guide-to-spending-labor-day-in-the-city/641050/" target="_blank">"A New Yorker's Guide To Spending Labor Day In The City"</a></em>
								</p><p>
									August 17, 2017 - Voyage MIA - "
									<a href="http://voyagemia.com/interview/meet-jaclyn-baumgarten-boatsetter-aventura/" target="_blank">Meet Jaclyn Baumgarten of Boatsetter in Aventura</a>"<br>
								</p><p>
									August 14, 2017 - GearCulture -
									<a class="in-cell-link" href="http://www.gearculture.com/goods/boatsetter/" target="_blank">"Boatsetter"</a>
								</p><p>
									August 10, 2017 - Bloomberg Markets Radio -
									<a class="in-cell-link" href="https://www.bloomberg.com/news/audio/2017-08-10/boatsetter-s-baumgarten-on-boat-sharing-the-airbnb-for-boats" target="_blank">"Boatsetter's Baumgarten on Boat-Sharing: The Airbnb For Boats"</a>
								</p><p>
									August 8, 2017 - GeekTime -
									<a class="in-cell-link" href="http://www.geektime.com/2017/08/08/top-10-tech-startups-making-noise-in-miami/" target="_blank">"Top 10 tech startups making noise in Miami"</a>
								</p><p>
									July 21, 2017 - Parade -
									<a href="https://parade.com/588278/leannepotts/welcome-to-shareville-inside-the-exploding-world-of-borrowing-instead-of-buying/">"Welcome to Shareville: Inside the Exploding World of Borrowing instead of Buying"</a><br>
								</p><p>
									May 24, 2017 - Our Crowd -
									<a href="http://blog.ourcrowd.com/boatbound-cbs-chicago-boatbound-like-airbnb-boats-setting-sail-lake-michigan/">"Boatbound, like Airbnb for boats, setting sail on Lake Michigan"</a><br>
								</p><p>
									April 28, 2017 - Click2Houston -
									<a href="https://www.click2houston.com/news/investigates/would-you-rent-your-stuff-for-cash">"How to make money by renting your things out"</a>
								</p><p>
									March 18, 2017 - WXYZ Detroit -
									<a href="https://www.wxyz.com/about-us/as-seen-on/25th-annual-novi-boat-show-coming-to-the-suburban-collection-showplace-march-16-19-2017" target="_blank">"</a><a href="https://www.wxyz.com/about-us/as-seen-on/25th-annual-novi-boat-show-coming-to-the-suburban-collection-showplace-march-16-19-2017">25th annual Novi Boat Show coming to the Suburban Collection Showplace March 16-19, 2017"</a>
								</p><p>
									March 10, 2017 - Cheddar -
									<a href="https://cheddar.com/videos/ceo-of-boatsetter-talks-about-how-its-the-airbnb-of-boating" target="_blank">CEO of Boatsetter talks about how it's the Airbnb of Boating</a><br>
								</p><p>
									February 14, 2017 - Boating Industry -
									<a href="http://boatingindustry.com/news/2017/02/14/boatsetter-partners-with-gofree/" target="_blank">"</a><a href="http://boatingindustry.com/news/2017/02/14/boatsetter-partners-with-gofree/">Boatsetter partners with GoFree"</a><br>
								</p><p>
									February 14, 2017 - The Destin Log -
									<a href="http://www.thedestinlog.com/news/20170214/whatever-floats-your-boat" target="_blank">"</a><a href="http://www.thedestinlog.com/news/20170214/whatever-floats-your-boat">Whatever floats your boat"</a>
								</p><p>
									January 19, 2017 - VIP Television -
									<a href="https://www.youtube.com/watch?v=8O60ohzDEhY" target="_blank">"</a><a href="https://www.youtube.com/watch?v=8O60ohzDEhY">VIP TV - Boatsetter"</a>
								</p><p>
									January 9, 2017 - Skift -
									<a href="https://skift.com/2017/01/09/5-new-travel-startups-knocking-out-winter-blues-with-boat-rentals/" target="_blank">5 New Travel Startups Knocking Out Winter Blues With Boat Rentals</a>
								</p><p>
									January 4, 2017 - Business Wire -
									<b><a href="https://www.businesswire.com/news/home/20170104005412/en/U.S.-Boat-Sales-Float-Top-Expected-Surge" target="_blank">U.S. Boat Sales Float Back to the Top, Expected to Surge through 2018</a></b>
								</p><p>
									December 13, 2016 - The PE Hub Network -
									<a href="https://www.pehub.com/2016/12/boatsetter-rows-away-with-13-mln-series-a/#" target="_blank">Boatsetter rows away with $13 mln Series A</a>
								</p><p>
									December 13, 2016 - The Miami Herald -
									<em><a href="https://www.miamiherald.com/news/business/technology/article120623813.html">Boatsetter makes waves with $13 million in new funding</a></em>
								</p><p>
									October 17, 2016 - Soundings Trade Only Today -
									<a href="https://www.tradeonlytoday.com/dealers/boatsetter-adds-puerto-rican-dealership-as-client" target="_blank">Boatsetter adds Puerto Rican dealership as client</a>
								</p><p>
									October 11, 2016 - Stride -
									<a href="https://www.stridetravel.com/blogs/8-top-travel-sites-you-might-not-use-but-should.html" target="_blank">8 Top Travel Sites You Might Not Use (But Should Be)</a>
								</p><p>
									September 16, 2016 - SFLcw -
									<a href="https://www.youtube.com/watch?v=vJU9hPniHcU&amp;t=4s" target="_blank">The Ultimate Boat Rental Experience - SFLcw</a>
								</p><p>
									August 25, 2016 - CW6 San Diego -
									<a href="https://www.youtube.com/watch?v=3wXB_Z0Sl0E" target="_blank">Book a boat rental for scuba diving #boatsetter</a>
								</p><p>
									August 8, 2016 - Money Talks News -
									<a href="https://www.moneytalksnews.com/why-your-next-boat-should-someone-elses/" target="_blank">Buy the Fun, Not the Yacht: 4 Cheaper Ways to Enjoy Boating</a>
								</p><p>
									July 26, 2016 - The Fishing Wire -
									<a href="http://www.thefishingwire.com/story/381003" target="_blank">Lobster Hunting Made Easier With Boat-Sharing Service</a>
								</p><p>
									July 22, 2016 - Miami Curated -
									<a href="http://www.miamicurated.com/uncategorized/boat-rental-miami/" target="_blank">Lobster Hunting And Boat Sharing Service</a>
								</p><p>
									July 7, 2016 - CBS Boston -
									<a href="https://www.youtube.com/watch?v=cLynBLwSR50&amp;t=5s" target="_blank">Boatsetter Brings Boat Sharing to Boston Boat Rentals - CBS Boston</a>
								</p><p>
									July 6, 2016 - CBS Miami -
									<a href="http://miami.cbslocal.com/2016/07/06/boat-sharing-company-wants-locals-to-avoid-bills-headaches/" target="_blank">Boat-Sharing Company Wants Locals To Avoid Bills, Headaches</a>
								</p><p>
									June 26 2016 - Chicago Sun-Times -
									<a href="http://chicago.suntimes.com/sports/sharing-boats-an-idea-with-demand-in-chicago/" target="_blank">"Sharing boats: An idea with demand in Chicago"</a>
								</p><p>
									June 24, 2016 - Netted -
									<a href="http://netted.net/best-beach-apps-and-sites/">"Enjoy the beach with these 5 apps and sites"</a>
								</p><p>
									June 24, 2016 - The Boston Globe -
									<a href="https://www.bostonglobe.com/business/2016/06/23/peer-peer-boat-sharing-surges-boston/6mdvTlRFx1kNZHClPDYBKJ/story.html">"Pier-to-pier boat sharing surges in Boston"</a>
								</p><p>
									June 23, 2016 - Roam (Travel Channel Blog) -
									<a href="http://www.travelchannel.com/roam-blog/adventure/make-waves-with-boat-sharing">Making waves with boat sharing</a>
								</p><p>
									June 23, 2016 - The Courier Journal -
									<a href="http://www.courier-journal.com/story/life/shopping/shop-talk/2016/06/23/airbnb-boats-rent-one-ohio-river/86267432/">The Airbnb of boats? Rent one on the Ohio River</a>
								</p><p>
									June 23, 2016 - Inc. -
									<a href="http://www.inc.com/elaine-godfrey/ss/meet-the-7-startups-who-are-changing-the-way-you-vacay.html?cid=sf01001&amp;sr_share=twitter" target="_blank">7 startups that want to change the way you vacay</a>
								</p><p>
									June 23, 2016 - Houston Style Magazine -
									<a href="http://stylemagazine.com/news/2016/jun/21/tips-safeguarding-your-boat-yourself-hurricane-sea/" target="_blank">Tips for Safeguarding Your Boat, Yourself This Hurricane Season</a>
								</p><p>
									June 14, 2016 - Stubble and Stache -
									<a href="https://www.stubbleandstache.com/blogs/blog/118647556-5-things-dad-wishes-youd-get-him-for-fathers-day" target="_blank"> </a><a href="https://www.stubbleandstache.com/blogs/blog/118647556-5-things-dad-wishes-youd-get-him-for-fathers-day">5 Things Dad Wishes You'd Get Him for Father's Day</a>
								</p><p>
									June 7, 2016 - Inside Hook -
									<a href="http://www.insidehook.com/nation/how-to-get-into-sailing-without-buying-a-boat">How To Get Into Sailing Without the Whole "Buying A Boat" Part</a>
								</p><p>
									<a href="http://www.insidehook.com/nation/how-to-get-into-sailing-without-buying-a-boat"></a>Jun 7, 2016 - Kokomo Tribune -<a href="http://www.kokomotribune.com/cnhi_network/uber-on-the-water-florida-based-company-brings-boat-sharing/article_b9a21262-80fc-55de-9c29-67719d49b523.html" target="_blank"> </a><a href="http://www.kokomotribune.com/cnhi_network/uber-on-the-water-florida-based-company-brings-boat-sharing/article_b9a21262-80fc-55de-9c29-67719d49b523.html">Uber on the water: Florida-based company brings boat-sharing business to Mass. marina</a>
								</p><p>
									May 27, 2016 - Fox 5 -
									<a href="https://www.youtube.com/watch?v=AZxI2HT6-3c&amp;t=5s" target="_blank">Boatsetter Boat Rentals in NYC on Fox 5</a><br>
								</p><p>
									May 27, 2016 - Boston Magazine -
									<a href="http://www.bostonmagazine.com/property/blog/2016/05/27/rent-boats-boston/">Five Boats to Rent in Boston Harbor This Weekend</a>
								</p><p>
									May 19, 2016 - Chicago Splash -
									<a href="http://www.chicagosplash.com/2016/05/19/on-the-waterfront" target="_blank">On The Waterfront</a>
								</p><p>
									April 28, 2016 - KTVU -
									<a href="https://www.youtube.com/watch?v=oTQpEl02wQU" target="_blank">Sailgating the SF Giants' Opening Day with Boatsetter</a>
								</p><p>
									April 14, 2016 - Inside Hook -
									<a href="http://www.insidehook.com/nation/3-private-yacht-charters-for-luxury-travel/">How to Save $8 Million on Your Next Private Yacht Charter</a>
								</p><p>
									April 14, 2016 - Pop Sugar -
									<a href="http://bit.ly/1Yw0qKJ">8 Badass Bachelorette Ideas That You HAVEN'T Already Done</a><br>
								</p><p>
									April 6, 2016 - Boating Industry -
									<a href="http://boatingindustry.com/news/2016/04/06/boatsetter-names-pablo-vidal-chief-marketing-officer/" target="_blank">Boatsetter names Pablo Vidal chief marketing officer</a>
								</p><p>
									March 28, 2016 - 90.7 WFME -
									<a href="http://www.wmfe.org/boat-sharing-in-florida-benefiting-boat-owners-and-renters/58392" target="_blank">BOAT SHARING IN FLORIDA BENEFITING BOAT OWNERS AND RENTERS</a>
								</p><p>
									March 21, 2016 - Boating Industry -
									<a href="http://boatingindustry.com/blogs/2016/03/21/boatsetter-gains-traction-with-younger-boaters/" target="_blank"> </a><a href="http://boatingindustry.com/blogs/2016/03/21/boatsetter-gains-traction-with-younger-boaters/">Boatsetter gains traction with younger boaters</a>
								</p><p>
									<a href="http://www.seattletimes.com/business/technology/boat-rental-marketplace-drops-anchor-in-seattle/" target="_blank"></a>March 21, 2016 - Seattle Times - <a href="http://www.seattletimes.com/business/technology/boat-rental-marketplace-drops-anchor-in-seattle/" target="_blank">Boat-rental marketplace drops anchor in Seattle</a>
								</p><p>
									March 18, 2016 - Xconomy -
									<a href="http://www.xconomy.com/seattle/2016/03/18/seattle-week-in-review-young-rich-and-stuck-in-traffic-edition/#" target="_blank">Seattle Week in Review: Young, Rich, and Stuck in Traffic Edition</a>
								</p><p>
									March 17, 2016 - Seattle Times -
									<a href="http://staging.seattletimes.com/business/technology/tech-firms-finding-it-easier-to-fill-openings-report-says/" target="_blank">Tech firms finding it easier to fill openings, report says</a>
								</p><p>
									March 15, 2016 - GeekWire -
									<a href="http://www.geekwire.com/2016/heres-boatbound-airbnb-boats-relocated-hq-seattle/" target="_blank">Here's why Boatbound, the 'Airbnb for boats,' relocated its HQ to Seattle</a>
								</p><p>
									March 10, 2016 - Soundings Trade Only Today -
									<a href="https://www.tradeonlytoday.com/industry-news/boatsetter-offers-tips-for-boating-with-dogs" target="_blank"> </a><a href="https://www.tradeonlytoday.com/industry-news/boatsetter-offers-tips-for-boating-with-dogs">Boatsetter offers tips for boating with dogs</a>
								</p><p>
									February 19, 2016 - Boating Industry - Boatsetter and Jason Taylor partner with Make-A-Wish
								</p><p>
									February 9, 2016 - Bizwomen -
									<a href="https://www.bizjournals.com/bizwomen/news/profiles-strategies/2016/02/this-ceo-is-making-waves-in-the-boat-industry-with.html" target="_blank">This CEO is making waves in the boat industry with its Uber-style rentals</a>
								</p><p>
									January 27, 2016 - WFLA Channel 8 -
									<a href="http://wfla.com/2016/01/27/on-demand-boat-rides-cruise-in-to-tampa-bay/" target="_blank">On-demand boat rides cruise in to Tampa Bay</a>
								</p><p>
									December 23, 2015 - ODU Magazine -
									<a href="http://www.odumagazine.com/boat-sharing-generates-more-than-just-income-for-owners/#more-63750" title="Boat Sharing Generates More Than Just Income For Boat Owners" target="_blank">Boat Sharing Generates More Than Just Income For Boat Owners</a>
								</p><p>
									October 15, 2015 - Soundings Trade Only Today -
									<a href="https://www.tradeonlytoday.com/dealers/boatsetter-reports-milestone-after-cruzin-merger" target="_blank">Boatsetter reports milestone after Cruzin merger</a>
								</p><p>
									September 21, 2015 - Thrillist -
									<a href="https://www.thrillist.com/lifestyle/washington-dc/15-best-things-to-do-in-washington-dc-this-fall">The DC Bucket List - Everything to Do This Fall</a>
								</p><p>
									September 18, 2015 - Sun Sentinel -
									<a href="http://www.sun-sentinel.com/business/fl-boating-tech-consolidation-20150918-story.html">Shakeout hits tech startups in boat sharing marine services</a>
								</p><p>
									September 17, 2015 - TradeOnly Today -
									<a href="http://www.tradeonlytoday.com/2015/09/sailtime-group-signs-deal-with-boatbound/">SailTime Group Signs Deal with Boatbound</a>
								</p><p>
									<a href="http://www.tradeonlytoday.com/2015/09/sailtime-group-signs-deal-with-boatbound/"></a>September 7, 2015 - South Shore Livin - <a href="http://cl.ly/1p3v113R042J">Own A Boat (For a Day)</a>
								</p><p>
									September 2, 2015 - PrWeb -
									<a href="http://www.prweb.com/releases/2015/09/prweb12936395.htm">BoatUS Announces Game-Changing Insurance Policy for Peer-to-Peer Boat Rental Market</a>
								</p><p>
									September 1, 2015 - Click 2 Houston -
									<a href="http://www.click2houston.com/news/boatsharing-concept-gaining-in-popularity/35054858">Boat-sharing concept gaining in popularity</a>
								</p><p>
									August 27, 2015 - Boating Industry -
									<a href="http://www.boatingindustry.com/news/2015/08/27/boatus-now-offers-peer-to-peer-boat-rental-insurance-through-boatbound/">BoatUs now offers peer-to-peer boat rental insurance through Boatbound</a>
								</p><p>
									August 7, 2015 - Click Orlando -
									<a href="http://www.clickorlando.com/news/boat-owners-find-extra-cash-through-peertopeer-sharing/34534282">Boat owners find extra cash through peer-to-peer sharing</a>
								</p><p>
									August 7, 2015 - The Boston Globe -
									<a href="https://www.bostonglobe.com/metro/regionals/north/2015/08/06/and-now-easy-way-rent-boat/pRq7WXwNlOmyuMXeV1n31L/story.html">And Now, An Easy Way To Rent A Boat</a>
								</p><p>
									July 22, 2015 - Buzzfeed -
									<a href="http://www.buzzfeed.com/johanabhuiyan/im-on-a-boat?utm_term=.vlWkEqL2g#.axg9WYBAK">Boatbound Brings Luxury Yachting To The Masses</a>
								</p><p>
									June 22, 2015 - Upstart Business Journals -
									<a href="http://bit.ly/1foE90X">Uber for Boats Hits The Potomac</a>
								</p><p>
									July 22, 2015 - Silicon Bayou News -
									<a href="http://siliconbayounews.com/2015/07/22/airbnb-of-boats-launches-in-gulf-coast/">Airbnb of Boats Launches in Gulf Coast</a>
								</p><p>
									July 22, 2015 - Washington Business Journal -
									<a href="http://www.bizjournals.com/washington/blog/techflash/2015/07/the-sharing-economy-takes-to-greater-washingtons.html">The sharing economy takes to Greater Washington's waterways (Video)</a>
								</p><p>
									July 17, 2015 - BostonInno -
									<a href="http://bostinno.streetwise.co/2015/07/17/boston-boat-rentals-airbnb-of-boating-expands-in-new-england/">Boatbound is Bolstering Its On-Demand Rental Platform Across the Boston Area</a>
								</p><p>
									July 16, 2015 - Inc.com -
									<a href="http://bit.ly/1J35stN">7 Startups That Want to Change The Way You Vacation</a>
								</p><p>
									July 14, 2015 - Cape Cod Times -
									<a href="http://www.capecodtimes.com/article/20150714/NEWS/150719734/101017/BIZ">How to Get Your Boat On</a>
								</p><p>
									July 10, 2015 - Tech Cocktail -
									<a href="http://bit.ly/1DbW9kI">Stop Sitting There and Start Boating: Daylight is Burning</a>
								</p><p>
									July 2, 2015 - L.A. Magazine -
									<a href="http://bit.ly/1JCMatJ">The Airbnb of Boats Weighs Anchor off the Coast of L.A.</a>
								</p><p>
									June 30, 2015 - Chicago Magazine Online -
									<a href="http://chi.mg/1LV3kTr">Where to Watch the Fireworks in Chicago on July 4</a>
								</p><p>
									June 29, 2015 - Life Hacker -
									<a href="http://lifehacker.com/all-the-stuff-you-can-rent-out-to-earn-extra-cash-1712131708">All the Stuff You Can Rent Out to Earn Extra Cash</a>
								</p><p>
									June 26, 2015 - Newport Beach Independent Online -
									<a href="https://www.newportbeachindy.com/banish-boat-envy-own-a-boat-for-a-day-with-boatbound/">Banish Boat Envy - Own a Boat for a Day with Boatbound</a>
								</p><p>
									June 25, 2015 - Minneapolis Star Tribune Online -
									<a href="http://www.startribune.com/sharing-economy-finds-traction-in-outdoor-recreation/309885471/">Sharing Economy Finds Traction in Outdoor Recreation</a>
								</p><p>
									June 25, 2015 - L.A. Beat -
									<a href="http://thelosangelesbeat.com/2015/06/boatbound-enables-anyone-to-a-quick-and-easy-way-to-charter-a-boat/">Boatbound Enables Anyone to a Quick and Easy Way to Charter a Boat</a>
								</p><p>
									June 19, 2015 - Chicago Tribune -
									<a href="http://www.chicagotribune.com/entertainment/ct-can-t-find-a-hotel-room-for-the-grateful-dead-how-about-a-boat-20150619-story.html">Need a hotel room for Grateful Dead Chicago shows? How about a 'boatel'?</a>
								</p><p>
									June 17, 2015 - PureWow -
									<a href="http://www.purewow.com/travel/Boating-in-Chicago-Rent-Dont-Buy">Boating in Chicago: Rent, Don't Buy</a>
								</p><p>
									June 17, 2015 - Go Adventure Mom -
									<a href="http://www.goadventuremom.com/2015/06/ditch-the-ties/">This Father's Day, Ditch the Ties!</a>
								</p><p>
									June 17, 2015 -Boating Magazine Online -
									<a href="http://bit.ly/1MqqPHm">Seven Great East Coast Places to Anchor Your Boat This Summer</a>
								</p><p>
									June 17, 2015 - PureWow Chicago -
									<a href="http://www.purewow.com/travel/Boating-in-Chicago-Rent-Dont-Buy">Boating in Chicago: Rent, Don't Buy</a>
								</p><p>
									June 9, 2015 - Naluda Magazine -
									<a href="http://www.naludamagazine.com/fathers-day-gift-guide/">Father's Day Gift Guide</a>
								</p><p>
									June 8, 2015 - Inside Hook Chicago -
									<a href="http://www.insidehook.com/chicago/boatbound/">Hey Man, Nice Boat</a>
								</p><p>
									June 5, 2015 - Trade Only Today -
									<a href="http://www.tradeonlytoday.com/2015/06/brunswick-urging-whaler-owners-boat-rental-service/">Brunswick urging Whaler owners to consider boat-rental service</a>
								</p><p>
									June 4, 2015 - ChicagoInno -
									<a href="http://chicagoinno.streetwise.co/2015/06/04/these-airbnb-for-boats-startups-will-get-you-out-on-lake-michigan-this-summer/">These 'Airbnb for Boats' Startups Will Get You Out On Lake Michigan This Summer</a>
								</p><p>
									June 2, 2015 - Philly Voice -
									<a href="http://www.phillyvoice.com/heard-airbnb-and-uber-now-theres-service-boats/">Heard of Airbnb and Uber? Now there's a service for boats</a>
								</p><p>
									June 1, 2015 - Fox 45 -
									<a href="June 1, 2015 - Three Sheets Northwest">Boatbound Makes Setting Sail Possible</a>
								</p><p>
									June 1, 2015 - Three Sheets Northwest -
									<a href="http://threesheetsnw.com/blog/2015/06/the-airbnb-of-the-sea-boatbound-is-poised-to-make-waves-in-the-pacific-northwest/">The 'Airbnb of the Sea?' Boatbound is poised to make waves in the Pacific Northwest</a>
								</p><p>
									May 30, 2015 - Chicago Sun Time -
									<a href="http://chicago.suntimes.com/business/7/71/626294/wish-knew-someone-boat-summer-now">Wish you knew someone with a boat this summer? Now you do</a>
								</p><p>
									May 29, 2015 - WJLA Good Morning Washington -
									<a href="https://youtu.be/7oTTSgIwBbU">Aaron Hall and Dmitry Bocharnikov talk Boatbound boat rentals</a>
								</p><p>
									May 29, 2015 - Sacramento Bee -
									<a href="http://www.sacbee.com/news/business/article22574229.html" target="_blank">Firms battle for boating rental business</a>
								</p><p>
									May 21, 2015 - DNAinfo Radio - (Audio)
									<a href="https://soundcloud.com/dnainfo-radio/want-to-borrow-a-boat-for-a-few-hours-this-app-will-have-you-covered" target="_blank">Want to borrow a boat for a few hours? This app will have you covered. </a>
								</p><p>
									<a href="http://www.nbcchicago.com/blogs/worth-the-trip/Like-Airbnb-You-Can-Now-Rent-a-Yacht-on-Lake-Michigan-304429061.html"></a>May 20, 2015 - NBC Chicago - <a href="http://www.nbcchicago.com/blogs/worth-the-trip/Like-Airbnb-You-Can-Now-Rent-a-Yacht-on-Lake-Michigan-304429061.html">Like Airbnb, You Can Now Rent A Yacht On Lake Michigan</a>
								</p><p>
									May 19, 2015 - DNAinfo Chicago -
									<a href="https://www.dnainfo.com/chicago/20150521/lincoln-park/check-out-these-incredible-boats-for-rent-on-boatbound-app">The Airbnb of Boats has Arrived in Chicago</a>
								</p><p>
									May 17, 2015 - ClassicSailBoats.org -
									<a href="http://classicsailboats.org/slide-view/industry-news/">Sailing Industry News</a>
								</p><p>
									May 15, 2015 - Seattle Mag -
									<a href="http://www.seattlemag.com/article/boatbound-making-waves-seattle">Boatbound is Making Waves in Seattle</a>
								</p><p>
									May 15, 2015 - Brit + Co -
									<a href="http://www.brit.co/boatbound-boat-rentals/?utm_source=twitter.com&amp;utm_medium=social">Take Your Vacation to the Next Level with Airbnb for Boats</a>
								</p><p>
									May 15, 2015 - Digital Journal -
									<a href="http://www.digitaljournal.com/pr/2554587">Sandboxx and P2P Marketplace Boatbound Get Veterans On-The-Water Free This Memorial Day</a>
								</p><p>
									<a href="http://www.baycrossings.com/dispnews.php?id=3281"></a>May 14, 2015 - BD Outdoors - <a href="http://www.bdoutdoors.com/article/boatbound-access-the-water/">Boatbound - Access The Water</a>
								</p><p>
									May 1, 2015 - Fox News San Diego Video -
									<a href="http://fox5sandiego.com/2015/05/01/one-day-boat-service/" target="_blank">Boatbound - One Day Boat Service</a>
								</p><p>
									April 1, 2015 - DCInno -
									<a href="http://dcinno.streetwise.co/2015/04/01/the-best-tech-april-fools-day-pranks-of-2015/#s_boatbound_s">The Best Tech April Fool's Day Pranks of 2015</a>
								</p><p>
									<a href="http://www.baycrossings.com/dispnews.php?id=3281"></a>March 04, 2015 - Bay Crossings - <a href="http://www.baycrossings.com/dispnews.php?id=3281">The Sharing Economy Comes to a Marina Near You</a>
								</p><p>
									March 27, 2015 - SFGate -
									<a href="http://www.sfgate.com/business/networth/article/Startups-want-to-be-the-Airbnb-for-boats-6164286.php?cmpid=twitter-mobile%20%E2%80%A6">Startups Want to be the Airbnb for Boats</a>
								</p><p>
									March 26, 2015 - WSVN Channel 7 -
									<a href="https://www.youtube.com/watch?v=-rdfe_kkJl0&amp;t=1s" target="_blank">Featured: How to list your boat for rent with Boatsetter on WSVN Channel 7</a>
								</p><p>
									July 17, 2014 - CNN Money -
									<a href="http://money.cnn.com/2014/07/16/luxury/airbnb-for-yachts/index.html">New boat rental sites try to be 'Airbnb for yachts'</a>
								</p><p>
									July 16, 2014 - CNBC -
									<a href="http://www.cnbc.com/id/101841353">Start-up takes the sharing economy out to sea</a>
								</p><p>
									July 14, 2014 - MSN Money -
									<a href="http://www.msn.com/en-us/money">MSN Money</a>
								</p><p>
									July 15, 2014 - Money Talks News -
									<a href="http://www.moneytalksnews.com/why-your-next-boat-should-be-someone-elses/">Why Your Next Boat Should be Someone Else's</a>
								</p><p>
									July 4, 2014 - BostInno -
									<a href="http://bostinno.streetwise.co/2014/07/04/boat-rentals-in-boston-for-fourth-of-july-boatbound-launches-in-boston/">Ahoy, Captain! 'Pier-to-Pier' Marketplace Boatbound Launches in Boston</a>
								</p><p>
									July 3, 2014 - Beta Beat -
									<a href="http://betabeat.com/tag/boatbound/">You Can Now Fake a Better Life by Renting a Boat Online</a>
								</p><p>
									July 2, 2014 - Tech Cocktail -
									<a href="http://tech.co/enjoy-staycation-south-florida-2014-07">5 Ways to Enjoy Your Staycation in South Florida</a>
								</p><p>
									July 1, 2014 - The Washington Post -
									<a href="http://www.washingtonpost.com/express/wp/2014/07/01/boatbound-brings-boat-sharing-to-the-district-and-is-tilda-swinton-a-clone-of-david-bowie/">Boatbound brings boat-sharing to the District, and is Tilda Swinton a clone of David Bowie?</a>
								</p><p>
									June 30, 2014 - ARL Now -
									<a href="http://www.arlnow.com/2014/06/30/morning-notes-982/">Morning Notes</a>
								</p><p>
									June 27, 2014 - Washington City Paper -
									<a href="http://Airbnb for Boats Launches in D.C.">http://www.washingtoncitypaper.com/blogs/citydesk/2014/06/27/airbnb-for-boats-launches-in-d-c/</a>
								</p><p>
									June 20, 2014 - DCInno -
									<a href="http://dcinno.streetwise.co/2014/06/20/dc-tech-boatbound-p2p-rentals/">DC Leads the Nation in Demand for P2P Boat Rentals</a>
								</p><p>
									June 20, 2014 - Sports Pro -
									<a href="http://www.sportspromedia.com/news/usa_water_ski_teams_up_with_boatbound">USA Water Ski teams up with Boatbound</a>
								</p><p>
									June 20, 2014 - In the Capital -
									<a href="http://inthecapital.streetwise.co/2014/06/20/dc-tech-boatbound-p2p-rentals/">DC Leads the Nation in Demand for P2P Boat Rentals</a>
								</p><p>
									June 13, 2014 - Boating Industry -
									<a href="http://www.boatingindustry.com/features/2014/06/12/peer-to-peer-heats-up-with-new-boatbound-partnerships/">Peer-to-peer heats up with new Boatbound partnerships</a>
								</p><p>
									June 12, 2014 - SF Weekly -
									<a href="http://www.sfweekly.com/exhibitionist/2014/06/12/im-on-a-boat-renting-san-francisco-catamarans-yachts-and-more">I'm On A Boat: Renting San Francisco Catamarans, Yachts &amp; More</a>
								</p><p>
									June 9, 2014 - Great Lakes Scuttlebutt -
									<a href="http://www.greatlakesscuttlebutt.com/news/featured-news/limited-time-boatbound-exclusive-for-father-s-day/">Limited Time Boatbound Exclusive for Father's Day!</a>
								</p><p>
									June 2, 2015 - Three Sheets Northwest -
									<a href="http://www.threesheetsnw.com/blog/2014/06/share-your-boat-sink-your-costs/">Share your boat, sink your costs</a>
								</p><p>
									May 30, 2014 - Women 2.0 -
									<a href="http://women2.com/2014/05/30/5-tips-succeed-mostly-male-industry/">Ten Companies That Know How to Share</a>
								</p><p>
									May 16, 2014 - Ziptopia -
									<a href="http://www.zipcar.com/ziptopia/around-the-bend/top-ten-sharing-companies">Ten Companies That Know How to Share</a>
								</p><p>
									May 9, 2014 - Blue Sky Innovation -
									<a href="http://bluesky.chicagotribune.com/originals/chi-news-briefs-bsi-20140509,0,0.storygallery#chi-boatbound-brunswick-brief-bsi">Boatbound rental marketplace expands to Chicago</a>
								</p><p>
									May 5, 2014 - Slacker -
									<a href="http://www.slacker.com/station/abc-news/1974/0/30677654/38947054?sharedby=433479712&amp;sharedon=1397826793">Rent A Boat With Boatbound</a>
								</p><p>
									May 3, 2014 - Crowdfund Insider -
									<a href="http://www.crowdfundinsider.com/2014/05/37620-boatbound-signs-partnership-dominion-marine-media/">Boatbound Signs Partnership with Dominion Marine Media</a>
								</p><p>
									April 30, 2014 - San Francisco Business Times -
									<a href="http://www.bizjournals.com/sanfrancisco/prnewswire/press_releases/California/2014/04/30/DA14834">Dominion Marine Media and Boatbound Partner to Introduce Sharing Economy to 5 Million Monthly Boaters</a>
								</p><p>
									April 30, 2014 - Dominion Enterprises -
									<a href="http://www.dominionenterprises.com/dominion-marine-media-boatbound-partner-introduce-sharing-economy-5-million-monthly-boaters/">Dominion Marine Media &amp; Boatbound Partner to Introduce Sharing Economy to 5 Million Monthly Boaters</a>
								</p><p>
									April 16, 2014 - WallStreet Journal -
									<a href="http://blogs.wsj.com/accelerators/2014/04/16/ryan-holmes-social-media-jumpstarted-the-share-economy/">Ryan Holmes: Social Media Jumpstarted the Sharing Economy</a>
								</p><p>
									April 12, 2014 - Mashable -
									<a href="http://mashable.com/2014/04/12/boatbound-airbnb/">Boatbound: Airbnb of Boats Makes Getting on the Water Easy</a>
								</p><p>
									April 6, 2014 - The Bay Journal -
									<a href="http://www.bayjournal.com/article/boat_rental_service_could_boost_access_on_the_bay">Boat rental service could boost access on the Bay</a>
								</p><p>
									April 5, 2014 - Great Lakes Scuttlebutt -
									<a href="http://www.greatlakesscuttlebutt.com/news/featured-news/major-industry-partnerships-raise-boatbound-sails-enhance-trust-and-fuel-expansion-into-new-markets-across-the-u.s./">Major Industry Partnerships Raise Boatbound Sails, Enhance Trust, and Fuel Expansion into New Markets Across the U.S.</a>
								</p><p>
									April 3, 2014 - Latitude 38 -
									<a href="http://sections.latitude38.com/news/peer-peer-marketplace-boatbound-raises-25m-led-brunswick-bc-launches-redesigned-boatboundco">Peer-To-Peer Marketplace Boatbound Raises $2.5m Led By Brunswick (BC); Launches Redesigned Coatbound.co</a>
								</p><p>
									April 3, 2014 - Trade Only -
									<a href="http://www.tradeonlytoday.com/2014/04/boatbound-receives-financing-expansion/">Boatbound Receives Financing Expansion</a>
								</p><p>
									April 2, 2014 - Yahoo Finance -
									<a href="http://finance.yahoo.com/news/peer-peer-marketplace-boatbound-raises-120100544.html">Peer-to-Peer Marketplace Boatbound Raises $2.5m Led By Brunswick (BC); Launches Redesigned Boatbound.co</a>
								</p><p>
									April 2, 2014 - Market Watch -
									<a href="http://www.marketwatch.com/story/peer-to-peer-marketplace-boatbound-raises-25m-led-by-brunswick-bc-launches-redesigned-boatboundco-2014-04-02?reflink=MW_news_stmp">Peer-to-Peer Marketplace Boatbound Raises $2.5m Led By Brunswick (BC); Launches Redesigned Boatbound.co</a>
								</p><p>
									April 2, 2014 - MSN Money -
									<a href="http://www.msn.com/en-us/money">MSN Money</a>
								</p><p>
									April 2, 2014 - Sacramento Business Journal -
									<a href="http://www.bizjournals.com/sacramento/prnewswire/press_releases/California/2014/04/02/DA96221">Peer-to-Peer Marketplace Boatbound Raises $2.5m Led By Brunswick (BC); Launches Redesigned Boatbound.co</a>
								</p><p>
									April 2, 2014 - San Francisco Business Journal -
									<a href="http://www.bizjournals.com/sanfrancisco/prnewswire/press_releases/California/2014/04/02/DA96221">Peer-to-Peer Marketplace Boatbound Raises $2.5m Led By Brunswick (BC); Launches Redesigned Boatbound.co</a>
								</p><p>
									April 2, 2014 - The Business Journals -
									<a href="http://www.bizjournals.com/prnewswire/press_releases/2014/04/02/DA96221">Peer-to-Peer Marketplace Boatbound Raises $2.5m Led By Brunswick (BC); Launches Redesigned Boatbound.co</a>
								</p><p>
									April 2, 2014 - Boating Industry -
									<a href="http://www.boatingindustry.com/news/2014/04/02/boatbound-brunswick-raise-2-5m-and-launch-redesigned-boatbound-co/">Boatbound raises $2.5M and launches redesigned Boatbound.co</a>
								</p><p>
									April 1, 2014 - CrunchBase Daily -
									<a href="http://static.crunchbase.com/daily/content_20140401_twitter.html">Boatbound raises $2.5M and launches redesigned Boatbound.co</a>
								</p><p>
									April 1, 2014 - Cloud Consulting International -
									<a href="http://cloudwiser.wordpress.com/2014/04/01/san-francisco-based-boat-rental-marketplace-boatbound-has-raised-2-5-million-with-participation-from-israeli-crowdfunding-platform-ourcrowd/">San Francisco-based boat rental marketplace Boatbound has raised $2.5 million, with participation from Israeli crowdfunding platform OurCrowd</a>
								</p><p>
									April 1, 2014 - Johnny Jet -
									<a href="http://www.johnnyjet.com/2014/04/travel-website-of-the-week-boatbound/">Travel Website of the Week: Boatbound</a>
								</p><p>
									April 1, 2014 - Skift -
									<a href="http://skift.com/2014/04/01/boatbound-raises-2-5-million-to-build-out-the-airbnb-for-boats/">BoatBound Raises $2.5 Million to Build out the Airbnb for Boats</a>
								</p><p>
									March 28, 2014 - Trade Only -
									<a href="http://www.tradeonlytoday.com/2014/03/brunswick-forms-strategic-partnership-boatbound/">Brunswick Forms Strategic Partnership With Boatbound</a>
								</p><p>
									March 26, 2014 - twst.com -
									<a href="http://www.twst.com/update/48399-brunswick-corporation-brunswick-announces-partnership-with-boatbound-the-leading-peer-to-peer-boat-rental-marketplace">Brunswick Announces Partnership With Boatbound, The Leading Peer-To-Peer Boat Rental Marketplace</a>
								</p><p>
									March 24, 2014 - Sail Magazine Blog -
									<a href="http://www.sailfeed.com/2014/03/peer-to-peer-boat-rentals-now/">Peer to Peer Boat Rentals NOW</a>
								</p><p>
									March 7, 2014 - Great Lakes Scuttlebutt -
									<a href="http://www.greatlakesscuttlebutt.com/news/press-room/this-spring-pier-to-pier-boat-rental-platform-boatbound-is-heating-up-the-boating-industry/press.ejs">Rental concept puts lazy boats to work</a>
								</p><p>
									February 20, 2014 - Orange County Register -
									<a href="http://www.ocregister.com/articles/boat-602528-hall-boats.html">Rental concept puts lazy boats to work</a>
								</p><p>
									February 17, 2014 - Richmond Times Dispatch -
									<a href="http://www.timesdispatch.com/business/investment/personal-finance/moneywise/the-sharing-economy-and-how-you-can-make-the-most/article_e36cf161-ef88-5d05-a2a4-86e488cd799e.html">The 'sharing economy' and how you can make the most of it</a>
								</p><p>
									February 13, 2014 - Boating Industry -
									<a href="http://www.boatingindustry.com/news/2014/02/13/american-sailing-association-partners-with-p2p-boat-rental-marketplace-boatbound/">American Sailing Association Announces Exclusive Partnership With P2P Boat Rental Marketplace, Boatbound</a>
								</p><p>
									February 7, 2014 - Miami New Times -
									<a href="http://blogs.miaminewtimes.com/cultist/2014/02/boatbound_rental_boats.php">Boatbound Lets the Everyday Man Rent the Boat Life — Even You</a>
								</p><p>
									February 5, 2014 - TrailblazerGirl.com -
									<a href="http://www.trailblazergirl.com/finds/14588/boatbound/">Boatbound</a>
								</p><p>
									January 31, 2014 - USA Today -
									<a href="http://www.usatoday.com/story/travel/destinations/2014/01/30/seattle-peer-sharing-p2p/5057409/">Sleep with a stranger -- and save</a>
								</p><p>
									January 1, 2014 - Marina Times -
									<a href="http://www.marinatimes.com/2013/12/new-offerings-in-the-new-year/">Airbnb for your Boat</a>
								</p><p>
									November 30, 2013 - Show Management -
									<a href="http://www.showmanagement.com/newsletter/448">Boatbound's Bayliner Element Giveaway Great Success</a>
								</p><p>
									November 29, 2013 - South Florida's Business Journal -
									<a href="http://www.bizjournals.com/southflorida/print-edition/2013/11/29/entrepreneur-explosion-births.html?ana=twt&amp;page=all">Entrepreneur explosion births incubators, shared workspaces</a>
								</p><p>
									November 22, 2013 - Los Angeles Times -
									<a href="http://www.latimes.com/business/technology/la-fi-tn-sharing-economy-top-ten-ways-20131121,0,1127731.story#axzz2lP5cUBBP">Top ten ways to take advantage of the 'sharing economy'</a>
								</p><p>
									November 5, 2013 - Noozhawk -
									<a href="http://www.noozhawk.com/article/karen_telleen-lawton_sharing_economy_20131021#.UqEfE2RDvu4">Sharing Economy — Beg, Borrow or Buy</a>
								</p><p>
									November 1, 2013 - Sun Sentinel -
									<a href="http://articles.sun-sentinel.com/2013-11-01/features/sfl-boat-giveaway-during-54th-fort-lauderdale-international-boat-show-20131101_1_boatbound-boat-giveaway-broward-county-convention-center">Boat giveaway during 54th Fort Lauderdale International Boat Show</a>
								</p><p>
									October 2, 2013 - Yahoo News -
									<a href="http://news.yahoo.com/blogs/upgrade-your-life/new-ways-to-avoid-getting-a-real-job-155115466.html?vp=1">New Ways to Avoid Getting a Real Job</a>
								</p><p>
									September 16, 2013 - The New Yorker -
									<a href="http://www.newyorker.com/talk/financial/2013/09/16/130916ta_talk_surowiecki">Uber Alles</a>
								</p><p>
									September 15, 2013 - Miami Herald -
									<a href="http://www.miamiherald.com/2013/09/15/3626239/making-waves.html">Making waves in 'the sharing economy': Peer-to-peer boat rental companies arrive in South Florida</a>
								</p><p>
									September 14, 2013 - Stuff.co -
									<a href="http://www.stuff.co.nz/travel/themes/budget/9162928/Theres-a-whole-travel-rental-world-out-there">There's a whole travel rental world out there</a>
								</p><p>
									September 16, 2013 - Business Insider -
									<a href="http://www.businessinsider.com/knockoff-startups-2013-9?op=1">11 Knockoff Startups We Like Better Than The Originals</a>
								</p><p>
									September 11, 2013 - Boats.com -
									<a href="http://features.boats.com/boat-content/2013/09/peer-to-peer-boat-rentals-a-brave-new-world/">Peer-to-Peer Boat Rentals: A Brave New World</a>
								</p><p>
									September 7, 2013 - Huffington Post Travel -
									<a href="http://www.huffingtonpost.com/tim-ferriss/san-francisco-activities_b_3893947.html">An Ideal Day (or Weekend) in San Francisco – 16 Fun and Weird Activities</a>
								</p><p>
									September 7, 2013 - Four Hour Work Week -
									<a href="http://www.fourhourworkweek.com/blog/2013/09/07/san-francisco-activities-insidehook/">An Ideal Day (or Weekend) in San Francisco – 16 Fun and Weird Activities</a>
								</p><p>
									September 5, 2013 - Washington Post -
									<a href="http://articles.washingtonpost.com/2013-09-05/lifestyle/41797365_1_lyft-relayrides-travelers-deal">Sharing options for lodging, meals, cars, tours and more</a>
								</p><p>
									August 29, 2013 - Yahoo! Travel -
									<a href="http://travel.yahoo.com/blogs/compass/peer-peer-boat-rentals-setting-sail-u-033008846.html">Peer-to-peer boat rentals setting sail in the U.S</a>
								</p><p>
									August 12, 2013 - The Detroit News -
									<a href="http://www.detroitnews.com/article/20130812/BIZ01/308120013/-Pier-pier-firm-charts-course-boat-rentals">'Pier to pier' firm charts course for boat rentals</a>
								</p><p>
									August 7, 2013 - The Republic -
									<a href="http://www.therepublic.com/view/story/sharing-boats/sharing-boats">'Pier to pier' company rents boats sitting idle in ride-sharing twist</a>
								</p><p>
									August 6, 2013 - San Francisco Chronicle -
									<a href="http://www.sfchronicle.com/technology/article/Sharing-boats-as-ride-sharing-wave-of-future-4708400.php">Sharing boats as ride-sharing wave of future</a>
								</p><p>
									August 6, 2013 - Boating Industry -
									<a href="http://www.boatingindustry.com/blogs/jonathan-sweet/2013/08/06/san-francisco-mass-transit-strike-means-opportunity-for-boatbound/">San Francisco mass transit strike means opportunity for Boatbound</a>
								</p><p>
									August 5, 2013 - Beta Beat -
									<a href="http://betabeat.com/2013/08/tech-elite-avoid-looming-bart-strike-by-just-sailing-to-work-instead/">Tech Elite Avoid Looming BART Strike by Just Sailing to Work Instead</a>
								</p><p>
									August 5, 2013 - Geek Wire -
									<a href="http://www.geekwire.com/2013/ubers-aweigh-grab-ride-home-san-francisco-boat-afternoon/">Ubers aweigh! Grab a ride in San Francisco by boat</a>
								</p><p>
									August 5, 2013 - Fast Company -
									<a href="http://www.fastcompany.com/3015276/fast-feed/its-a-bird-its-a-plane-itsan-uber-boat-that-will-take-you-to-work">It's a bird, it's a plane, it's... An Uber boat that will take you to work</a>
								</p><p>
									August 5, 2013 - Techcrunch  -
									<a href="http://techcrunch.com/2013/08/05/boat-to-work-uber-boatbound/">Lifejackets-On With “Boat To Work" From Uber And Boatbound</a>
								</p><p>
									August 5, 2013 - Tech Cocktail  -
									<a href="http://tech.co/uber-and-boatbound-forget-trains-and-cars-take-the-boat-2013-08">Uber and Boatbound: Forget trains and cars, take the boat</a>
								</p><p>
									August 4, 2013 - SF Gate  -
									<a href="http://blog.sfgate.com/techchron/2013/08/03/17716/">No BART Monday? How about a boat?</a>
								</p><p>
									August 3, 2013 - Mattermark  -
									<a href="http://mattermark.com/boatbound-partners-with-uber-to-help-east-bay-residents-steer-clear-of-the-impending-bart-strike/">Boatbound Partners with Uber to Help East Bay Residents Steer Clear of the Impending BART Strike</a>
								</p><p>
									August 3, 2013 - Seattle Post-Intellgencer  -
									<a href="http://blog.seattlepi.com/techchron/2013/08/03/no-bart-monday-how-about-a-boat/">No BART Monday? How about a boat?</a>
								</p><p>
									August 2, 2013 - Uber Blog  -
									<a href="http://blog.uber.com/2013/08/02/uber-boatbound-sail-to-work/">Uber + Boatbound: Sail To Work!</a>
								</p><p>
									July 25, 2013 - SFist.com  -
									<a href="http://sfist.com/2013/07/25/theres_an_airbnb_for_boats_now.php">So There's an Airbnb for Boats</a>
								</p><p>
									July 24, 2013 - Hufington Post  -
									<a href="http://www.huffingtonpost.com/2013/07/24/boatbound_n_3642245.html">Boatbound, Airbnb Of Boat Renting, Launches Nationwide</a>
								</p><p>
									July 2013 - Coastal Angler Magazine  -
									<a href="http://coastalanglermag.com/magazines/2012/bahamas/#p=18">Rent Your Boat</a>
								</p><p>
									July 18, 2013 - BoatingSF.com  -
									<a href="http://www.boatingsf.com/article/a-new-boat-rental-option-direct-from-owners">A New Boat Rental Option: Direct from Owners</a>
								</p><p>
									July 12, 2013 - PandoDaily  -
									<a href="http://pandodaily.com/2013/07/12/how-the-sharing-economy-will-kill-mediocre-vcs/">How the sharing economy will kill mediocre VCs</a>
								</p><p>
									July 11, 2013 - Business Insider via Skift  -
									<a href="http://www.businessinsider.com/new-startups-offer-cheap-boat-rentals-2013-7">A New Breed Of Startups Is Making It Easier And Cheaper To Rent A Boat</a>
								</p><p>
									July 6, 2013 - Techcrunch  -
									<a href="http://techcrunch.com/2013/07/06/top-apps-for-the-1/">Top Apps For The 1%</a>
								</p><p>
									July 2, 2013 - Thrillist  -
									<a href="http://www.thrillist.com/travel/nation/rent-a-boat-anywhere-in-the-us">Rent a Boat Anywhere in the US</a>
								</p><p>
									July 1, 2013 - RYOT  -
									<a href="http://www.ryot.org/hot-startup-feature-boatbound/219177">Hot Startup Feature: Boatbound</a>
								</p><p>
									June 14, 2013 - PSFK  -
									<a href="http://www.psfk.com/2013/06/boat-sharing-service.html">AIrbnb For The Sea Offsets The Cost Of Boat Ownership</a>
								</p><p>
									June 14, 2013 - Inside Hook  -
									<a href="http://www.insidehook.com/nation/boatbound/">Set Sail Boatbound: an Airbnb for Yachts and Sailboats</a>
								</p><p>
									June 14, 2013 - Upstart Business Journal  -
									<a href="http://upstart.bizjournals.com/companies/rebel-brands/2013/06/14/boatbound-is-airbnb-for-boats.html">Boatbound brings Airbnb Model for Boats</a>
								</p><p>
									June 13, 2013 - Techcrunch  -
									<a href="http://techcrunch.com/2013/06/13/boatbound-boat-rentals/">Boatbound Launches 'Pier-To-Pier' Boat Rental Marketplace</a>
								</p><p>
									June 10, 2013 - Where Traveler  -
									<a href="http://wheretraveler.com/rent-boatload-fun-your-next-trip#ixzz2XAiiwvwJhttp://wheretraveler.com/rent-boatload-fun-your-next-trip">Rent a Boatload of Fun on Your Trip</a>
								</p><p>
									June 10, 2013 - UrbanDaddy.com  -
									<a href="http://www.urbandaddy.com/ntl/gear/24112/Boatbound_A_Bunch_of_Boats_to_Rent_Whenever_National_NTL_Website">A Bunch of Boats to Rent. Whenever.</a>
								</p><p>
									June 6, 2013 - BoatingIndustry.com  -
									<a href="http://www.boatingindustry.com/top-stories/2013/06/06/boatbound-sees-opportunity-in-peer-to-peer/">Boatbound Sees Opportunity in Peer-to-Peer</a>
								</p><p>
									June 5, 2013 - Tech Cocktail  -
									<a href="http://tech.co/boatbound-rent-boats-online-2013-06">Boatbound Launches Airbnb for Boat Rentals</a>
								</p><p>
									May 25, 2013 - New York Boating Club  -
									<a href="http://www.nyboatingclub.com/in-the-news/what-s-new-in-boating/76-peer-to-peer-boat-rentals.html">Peer to Peer Boat Rentals</a>
								</p><p>
									May 2013  - Sail Magazine  -
									<a href="http://cl.ly/image/2x3l3Z1g0A3y">VRBO for your boat</a>
								</p><p>
									March 10, 2013 - Dromo  -
									<a href="http://www.youtube.com/watch?v=IfrHMx8122k">Startup of the Week</a>
								</p><p>
									February 20, 2013 - Techcrunch  -
									<a href="http://techcrunch.com/2013/02/20/boatbound-aibnb-for-boats/">Introducing Boatbound, the Airbnb for Boats</a>
								</p><p>
									<br>
								</p><h3>BLOG</h3><p>
									<a href="https://discover.boatsetter.com/blog/">Boatsetter Blog</a>
								</p>				</span>



			</div>
		</div>

	</div>
</main>