<main>
	<div class="container">
		<div class="row" >
			<div class="col-md-3 menu-terms">
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="/press">Press</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Safety</a></li>
					<li><a href="/terms_of_service">Terms of Service</a></li>
					<li><a href="/privacy_policy">Privacy Policy</a></li>
					<li><a href="#">Cancellation</a></li>
					<li><a href="#">Fees</a></li>
					<li><a href="#">Copyright Policy</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-sm-12  main-terms">


				<div><div><h1>Terms of Service</h1></div><hr></div><span>
	<p>Last modified: August 22, 2018
							<br>
							Boatsetter, a provider of a peer-to-peer boat charter marketplace, is committed to protecting your privacy and informing you about how your personal information is used.
							<br>
							Our Privacy Policy helps explain our information practices. For example, we talk about what information we collect, use, and disclose about visits to our Services.  We also collect information by other means (including offline) or from other sources, such as the equipment on boat you may rent.
							<br>
							When we say “Boatsetter,” “our,” “we,” or “us,” we’re talking about Collaborative Boating, Inc., and its affiliates. This Privacy Policy (“Privacy Policy”) applies to your use of www.boatsetter.com, and any other websites, applications, features, software or services provided, owned, or operated by Boatsetter that link to this Privacy Policy (together, “Services”) unless specified otherwise.  Please also read Boatsetter’s Terms of Service Agreement (“Terms”), which describes the terms under which you use our Services; capital terms used below that are not defined in this Privacy Policy are taken from the Terms.
							<br>
							In the event of conflict or inconsistency between the Privacy Policy, and the Terms, the order of precedence will be: the Privacy Policy, and the Terms.</p>
						<h3>Change</h3>
						<p>We may modify this Privacy Policy, and if we make material changes to it, we will provide notice through our Services, or by other means, to provide you the opportunity to review the changes. If you object to any changes, you may close your account. Your continued use of our Services after we publish or send a notice about our changes to this Privacy Policy means that you are consenting to the updated Privacy Policy.</p>
						<h3>Information We Collect</h3>
						<p>Boatsetter receives or collects information when we operate and provide our Services, including when you install, access, or use our Services.  We may also ask for your consent to process your personal information for a specific purpose that we communicate to you. When you consent to our processing your personal information for a specified purpose, you may withdraw your consent at any time and we will stop processing of your data for that purpose.</p>
						<h3>Information You Provide</h3>
						<p>Account Registration Information. To create an account, you provide data including your name, email, address, age, and your mobile phone number. You may also add other information to your account, such as a profile name, and profile picture.  </p>
						<p>Identity Verification. When you register with us or send a mobile text message to Boatsetter’s short code (69302) we may collect your instant messages (“IM”) screen name.  A verification message may be sent to your mobile phone number, email address, and/or IM screen name and we require that you verify each piece of contact information.</p>
						<p>Rental. When you rent or charter a boat, we may ask for, and store, your credit card number or billing information.  We may also collect additional information from you such as your driving and criminal conviction history, loss history, and other information related to our underwriting process.  We may also require that you grant us permission to check your driver’s record in order to confirm you meet Boatsetter’s eligibility standards (e.g., age). You authorize us to access your driver’s record from state DMVs, RMVs, and other applicable entities and you authorize those entities to release this information to Boatsetter.</p>
						<p>Mobile.  When you download or use apps created by Boatsetter, we may receive information about your location and your mobile device, including a unique identifier for your device.  We may use this information to provide you with location-based services, such as advertising, search results, and other personalized content. Most mobile devices allow you to turn off location services.</p>
						<p>Communication.  To help us make e-mails more useful and interesting, we often receive a confirmation when you open email from us if your computer supports such capabilities.  We also compare our customer list to lists received from other companies, sometimes in an effort to avoid sending unnecessary messages to you. If you do not want to receive email or other mail from us, please adjust your preferences in your Boatsetter Account.</p>
						<p>In-Boat Hardware.  If a GPS tracking device is installed in a boat, and you activate that device with Boatsetter, we may gather information about your use of the boat, including time of use, location, speed of travel, and more.  When you rent or charter a boat, and the boat includes a GPS tracking device enabled by the owners of the boat, those owners may be able to see the location of the boat during the rental or charter period. Your location information may be released to insurance companies, law enforcement, or similar parties when investigating claims, providing you with help, or when required by law or legal process.</p>
						<p>Listing Information.  You have choices about the information on a listing profile, such as the city, a description of the boat, harbor where the boat is located.  The information on your listing profile helps you get more from our Services, but it is your decision whether to post sensitive information. Please do not post or add personal data to your profile that you would not want to be publicly available.  If you own a boat that is listed with Boatsetter, we may require that you provide evidence of an inspection, survey of the boat, or, in addition, a boat history report. Listing a boat with us provides us authorization to obtain history about your boat and inspection records from other parties (e.g., mechanics, inspection companies), as well as consent for those parties to release records to us.</p>
						<p>Customer Support. You may provide us with information related to your use of our Services, including copies of your messages, and how to contact you so we can provide you customer support. For example, you may send us an email with information relating to a rental transaction.</p>
						<h3>Automatically Collected Information</h3>
						<p>Usage and Log Information. We collect service-related, diagnostic, and performance information. This includes information about your activity (such as how you use our Services, how you interact with others using our Services, and the like), log files, and diagnostic, crash, website, and performance logs and reports.</p>
						<p>Transactional Information. If you pay for items available via our Services, we may receive information and confirmations, such as payment receipts, including from other third parties processing your payment.</p>
						<p>Device and Connection Information. We collect device-specific information when you install, access, or use our Services. This includes information such as hardware model, operating system information, browser information, IP address, mobile network information including phone number, and device identifiers.</p>
						<p>Cookies. We use cookies to operate and provide our Services, including to provide our Services that are web-based, improve your experiences, understand how our Services are being used, and customize our Services. For example, we use cookies to save your login information for future logins to the Services. We may also use cookies to show you relevant content related to our Services. Additionally, we may use cookies to remember your choices, such as your desired rental location, and otherwise to customize our Services for you.  Additionally, third-party advertisers and other organizations may use their own cookies to collect information about your activities on the Services and/or the advertisements you have clicked on. This information may be used by them to serve advertisements that they believe are most likely to be of interest to you based on the content you have viewed. Third-party advertisers may also use this information to measure the effectiveness of their advertisements. We do not control these cookies. To disable or reject third-party cookies, please refer to the relevant third party’s website.</p>
						<p>Messages.  We collect information about you when you send, receive, or engage with other Members.  If the functionality exists for you to select to add one or more email addresses to an online form, the message you create in the corresponding template will be sent from us to those email addresses on your behalf.</p>
						<h3>Third-Party Information</h3>
						<p>Information Others Provide About You. We receive information other people provide us, which may include information about you.</p>
						<p>Third-Party Providers. We work with third-party providers to help us operate, provide, improve, understand, customize, support, and market our Services. For example, we work with companies to distribute our apps, provide our infrastructure, supply map and places information, process payments, help us understand how people use our Services, and market our Services. These providers may provide us information about you in certain circumstances; for example, app stores may provide us reports to help us diagnose and fix service issues.

						</p>
						<p>Third-Party Services. We allow you to use our Services in connection with third-party services. For example, you can register to join by logging into online accounts you may have with third parties, such as Facebook (“Third-Party Accounts”).  As part of the Services, you may link your Boatsetter Account with Third Party Accounts, and if you decide to register by logging into a Third Party Account via our Services, we will obtain information you have provided to the Third Party Account (such as name, email, profile picture, or names of your friends).  You understand that by granting us access to the Third Party Account, you are authorizing us to make available and store the information in your Third Party Account, as well as authorizing us to share information with the Third Party Account on your behalf. For example, we may send your information to a company called Cognito to verify your identity before booking a Boat.  Please note that when you use third-party services, their own terms and privacy policies will govern your use of those services.</p>
						<p>Boatsetter will rely on legal grounds to process your personal information to the extent permitted by applicable law, which may include, without limitation:  to honor contractual commitments, to take steps in anticipation of entering into contract, to fulfill legal obligations, your consent, and Boatsetter’s legitimate interests.</p>
						<p><b>How We Use Your Information</b></p>
						<p>We use the information we have to help us operate, provide, improve, understand, customize, support, and market our Services.
							<br>
							Our Services. We use your information to help us operate and provide our Services, including providing customer support, and improving, fixing, and customizing our Services. We understand how people use our Services, and analyze and use the information we have to evaluate and improve our Services, research, develop, and test new services and features, and conduct troubleshooting activities.
							<br>
							<br>
							Communications About Our Services. We communicate with you about our Services and features; to notify you of major updates, for customer service purposes, or to contact you regarding a Listing.
							<br>
							<br>
							Promotional Messages.  We may periodically send promotional materials or notifications related to the Services.  If you want to stop receiving promotional materials you can follow the unsubscribe instructions provided in any communication or update your settings information in your Boatsetter Account.
							<br>
							<br>
							Account Verification and Security. We use your information to authenticate you, authorize access to our Services, and promote safety and security on and off our Services.</p>
						<h3>When We Share Your Personal Information</h3>
						<p>We share your personal information with third parties as follows:
							<br>
							Third-party Service Providers.  We work with third-party providers to help us operate, provide, improve, understand, customize, support, and market our Services; fulfill orders; and complete transactions. When we share personal information with third-party providers, we require them to use your personal information in accordance with our instructions and terms, and require them to use reasonable confidentiality measures.
							<br>
							<br>

							Joint Marketing.  We may also provide your personal information to our business partners or other trusted entities for the purpose of providing you with information on goods or services we believe will be of interest to you.  You can opt out of receiving such communications through the settings on your Boatsetter Account. Through our Services, you may also choose to participate in rewards programs, contests, or other programs that involve third parties, when you do so, you are authorizing us to share your personal information with those third parties.  We will only share what information is reasonably necessary to provide you with those programs.
							<br>
							<br>
							Affiliates.  We may make information available to our affiliates (meaning entities controlled by, controlling, or under common control with Collaborative Boating, Inc.).
							<br>
							<br>
							Listings.  When you request to make a rental or charter via the Services, we will share the following information about you with the Owner:  (i) your first and last name, and (ii) a link to your Boatsetter profile page where the owner can view your boating history, reviews, and description/links. All of this information will enable the Owner to decide whether to confirm or reject your booking. When an Owner confirms a booking we will share the Owner’s identity, including, but not limited to, full name, phone number, the Boat’s address and the Owner’s email address, with the applicable Renter selected by the Owner and we will share pieces of the Renter’s identity with the Owner, including, but not limited to, full name, phone number and email address, so that the Renter and Owner may contact one another directly. Billing Information is not shared as part of that transaction.
							<br>
							<br>
							Compliance with Laws.  We will disclose any personal information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to claims and legal process (including but not limited to subpoenas), to protect the property and rights of Boatsetter or a third party, to protect the safety of the public or any person, or to prevent or stop activity we may consider to be, or to pose a risk of being, illegal, unethical or legally actionable activity.
							<br>
							<br>
							Enforcement.  We will disclose any personal information about you to government or law enforcement officials and to our insurance services providers as we, in our sole discretion, believe necessary, or to protect the property and rights of Boatsetter or a third party, to protect the safety of the public or any person, or to prevent or stop activity we may consider to be, or to pose a risk of being, illegal, unethical or legally actionable activity.
							<br>

						</p>
						<h3>You Control Your Information and Communications Settings</h3>
						<p>Communication Settings.  You can change your account information and preferences at any time by logging onto your Boatsetter Account. To unsubscribe from emails, click the ‘Unsubscribe’ link located at the bottom of each email. You may also call the Boatsetter unsubscribe hotline at 1-844-262-8738. With mobile text messages, for help in the US, text HELP to 69302. You may also email support@boatsetter.com or call +1.305.600.5435. You may stop mobile messages by sending the text message STOP to Short Code 69302 in the U.S. Your phone must have text messaging capability. Message and data rates may apply.
							<br>
							<br>
							Your Choice.  You may decline to share certain information with Boatsetter, in which case Boatsetter may not be able to provide to you some of the features and functionality found on the Services.
							<br>
							<br>
							Request a Review.  You have the right to request and review information that Boatsetter holds about you, and the right to request changes to correct inaccuracies. When practical and possible, Boatsetter will process any requested changes.
							<br>
							<br>
							Controlling Cookies.  You may refuse to accept cookies from the Services at any time by activating the setting on your browser, which allows you to refuse cookies. Further information about the procedure to follow in order to disable cookies can be found on your Internet browser provider’s website via your help screen. You may wish to refer to allaboutcookies.org/manage-cookies/index.html for information on commonly used browsers. Please be aware that if cookies are disabled, not all features of the Services may operate as intended.</p>
						<br> <br>
						<h3>Retention of Your Information</h3>
						<p>We keep your personal information to enable your continued use of the Services, for as long as it is required in order to fulfill the relevant purposes described in this Privacy Policy, as may be required (or permitted) by law such as for tax and accounting purposes, or as otherwise communicated to you.</p>
						<h3>Business Transfers</h3>
						<p>Boatsetter may sell, transfer, or otherwise share some, or all of its assets, including your Personal Information, in connection with a merger, acquisition, reorganization or sale of assets, or in the event of bankruptcy.</p>
						<h3>Advertising</h3>
						<p>We may serve you interest-based ads both on and off of our Services. We target (and measure the performance of) ads to Members and others both on and off of our Services through a variety of ad networks and exchanges, using the following data, whether separately or combined:</p>
						<p>Data from advertising technologies on and off of our Services, like web beacons, pixels, ad tags, cookies, and device identifiers;</p>
						<p>The information you provided to us (e.g., contact information, address);</p>
						<p>Information from your use of our Services (e.g., search history, listings you click-on, etc.)</p>
						<p>Information from others (e.g., advertising partners, publishers and data aggregators).</p>
						<h3>Ad Choices</h3>
						<p>You may generally opt-out of receiving interest-based advertising.  This does not opt you out of receiving advertising - you will continue to be presented generic ads or ads by advertisers not listed with certain self-regulatory tools. To do so, we suggest you visit the Network Advertising Initiative opt-out page, the Digital Advertising Alliance opt-out page, or the Your Online Choices page to read more about third-party advertising networks and similar entities that are engaged in interest-based advertising practices.</p>
						<h3>Do Not Track</h3>
						<p>Do Not Track (“DNT”) is a privacy preference that users can set in certain web browsers. DNT is a way for users to inform websites and services that they do not want certain information about their webpage visits collected over time and across websites or online services. We are committed to providing you with meaningful choices about the information collected on our website for third-party purposes. We do not, however, recognize or respond to browser-initiated DNT signals.</p>
						<h3>Data Security</h3>
						<p>Boatsetter uses a variety of managerial, technical, and physical measures to protect the integrity and security of your information. These measures may vary based on the sensitivity of your information. However, no security precautions or systems can be completely secure. We cannot ensure or warrant the security of any information you transmit to Boatsetter, and you do so at your own risk. We cannot guarantee that such information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</p>
						<h3>Children’s Privacy</h3>
						<p>IF YOU ARE UNDER 16 YEARS OF AGE, PLEASE DO NOT USE OR ACCESS THE SERVICES AT ANY TIME OR IN ANY MANNER.</p>
						<p>Protecting the privacy of children is especially important. For that reason, Boatsetter does not knowingly collect or solicit personal information from anyone under the age of 16. When we discover that we have collected personal information from a child under age 16, we will delete that information. If you believe that we might have any information from or about a child under 16, please contact us contact@boatsetter.com.</p>
						<h3>California Privacy Rights</h3>
						<p>California law permits users who are California residents to request and obtain from us once a year, free of charge, a list of the third parties to whom we have disclosed their personal information (if any) for their direct marketing purposes in the prior calendar year, as well as the type of personal information disclosed to those parties.  In your request, please attest to the fact that you are a California resident and provide a current California address for the response. You may request this information in writing by contacting us at contact@boatsetter.com. Please allow up to thirty (30) days for a response.</p>
						<h3>Special Note to International Users Regarding Data Transfers</h3>
						<p>The Services are hosted in the United States, and information collected by Boatsetter will be stored in the United States (in our major data centers). If you are accessing the Services from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, please be advised that through your continued access and use of the Services, which are governed by U.S. law, this Privacy Policy, and our Terms, you are transferring your information to the United States.</p>
						<p>For any questions regarding this Privacy Policy, please contact us by email at contact@boatsetter.com or by postal mail at Collaborative Boating, Inc. 200 SW 1st Ave Suite #950, Fort Lauderdale, FL 33301.</p>				</span>



			</div>
		</div>

	</div>
</main>