<div class="container">
    <div class="complete-box">
        <h1>THANK YOU !</h1>
        <h2>Your request has been submitted. We will contact you during office working hours</h2>
        <i>You should be automatically redirected in <span id="seconds">7</span> seconds.
        </i>
    </div>
</div>
<script>
    var seconds = 7; // seconds for HTML
    var foo; // variable for clearInterval() function

    function redirect() {
        document.location.href = '/';
    }

    function updateSecs() {
        document.getElementById("seconds").innerHTML = seconds;
        seconds--;
        if (seconds == -1) {
            clearInterval(foo);
            redirect();
        }
    }

    function countdownTimer() {
        foo = setInterval(function () {
            updateSecs()
        }, 1000);
    }

    countdownTimer();
</script>