*
{
    padding:0;

}
body{
    font-family: 'Roboto', sans-serif;
    background-color:#f5f8f9
}
/*Header*/

#header #logo img {
    padding: 16px 0;
    display: inline-block;
    height: 80px;
    /* doi thanh % */
    /* width: 250px; */
     width: 100%;
}
#header #logo {
    overflow: hidden;


}
#header img
{
    vertical-align: middle;

}
#header a {
    text-decoration: none;
    outline: 0!important;
    color: #31b2f0;
}
.select-box
{
    height:40px;
    width:40px;
    border-radius: 10px;
    margin-left:10px;
}


/*Main*/

.infopage__floating
{
    margin-top:60px;
    background-color: white;
    padding:40px 30px;
    border-radius: 10px;
}
.infopage__floating h2
{
    text-align:center;
    font-style:italic;
    opacity:0.8;
}
.main-content
{
    padding-bottom:15px;
    margin-bottom:15px;
}
.title
{
    margin:0;
    color: rgb(21, 21, 41);
}
.main-content label
{
    color: rgba(21,39,75,.5);
    font-weight:400;
}
.main-content input
{
    height:40px;
    padding-left:10px;
}

textarea
{
    resize: vertical;
}

textarea
{
    border:1px solid rgba(0,0,0,.2);
    width:100%;
    height:100px;

}
textarea::placeholder
{
    color: rgba(14, 28, 53, 0.5);
}

.intl-tel-input{
    width: 100%;
}
#phone
{
width:370px;
}
/*Footer*/
.footer img
{
    width:65%
}
.footer {
    background-color: white;
    margin-top: 80px;
    padding:40px 0;
    font-size: 15px;
    font-weight: 400;
}
.footer li
{
    list-style:none;
    margin-bottom: 5px;
}
.socialmedia li{
    display:inline-block;
    list-style:none;
    margin:15px 2px 8px 2px;
    font-size:15px;
}
.footer h3
{
    margin-top:5px;
    font-size:18px;
    font-weight: 300;
}
.footer a{
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.footer a:hover
{
    color: rgb(37, 37, 71);
}
.footer i
{
    color:#0a53c3;
}
select option
{
   border-radius: 5px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

}
.img-responsive{
    width: 100%;
}
textarea:focus, input:focus {
    color: #ff0000;
}
.main-terms
{
    margin-top:60px;
}
.main-terms
{
    color:#17233c;
    background-color:white;
    padding:30px;
    border-radius: 10px;
}
.main-terms p
{
    font-weight:300;
}
.main-terms h1
{
    padding:0;
    color:#17233c;
}
.main-terms h6
{
    padding-bottom: 20px;
    font-size:20px;
    opacity:0.8;

}
.menu-terms li
{
    padding-top:20px;
    font-size:20px;
}

.menu-terms a
{
    text-decoration: none;
    color: #9f9f9f;
}
.menu-terms a:hover
{
    color: #707070;
}