<header  id="header">
    <div class="container homepage-header">
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <a href="/en/p/boatsetter" id="logo" title="Boatsetter" alt="Boatsetter">
                    <div class="desktop-logo">
                        <img class="img-responsive" src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/logo-bs.svg?e2adjmklu9">
                    </div>
                </a>
            </div>
            <div class="col-md-8 col-sm-12">
                <form>
                    <ul class="wth">

                        <li style="position:relative">
                            <img class="img-responsive" src="/img/pin.png" style="height:20px;width:24px;position:absolute;top:9px;left:3px"/>
                            <select name="location" type="text" method="get" placeholder="Destination" >
                                <option selected disabled style="display:none">Destination</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="US">United States</option>
                            </select>

                        </li>
                        <li style="position:relative">
                            <img class="img-responsive" src="/img/calendar.png" style="height:20px;width:18px;position:absolute;top:9px;left:6px"/>
                            <input data-toggle="datepicker"  type="text" method="get" placeholder="Date" style="width:80px">
                        </li>
                        <li style="position:relative">
                            <img class="img-responsive" src="/img/watch.png" style="height:20px;width:20px;position:absolute;top:9px;left:6px"/>
                            <select name="time" type="text" method="get" >
                                <option value="" disabled selected style="display:none">Duration</option>
                                <option value="day">Day Charter</option>
                                <option value="US">Multi-day Charter</option>
                            </select>
                        </li>
                        <li style="position:relative">
                            <img class="img-responsive" src="/img/person.png" style="height:20px;width:20px;position:absolute;top:9px;left:6px"/>
                            <input name="amount" type="text" method="get" style="width:90px"  />
                        </li>
                        <li><button type="submit" class="btn" ></button></li>

                    </ul>
                </form>
            </div>
            <div class="col-md-2 col-sm-12">

            </div>
        </div>
    </div>
</header>