<header id="header">
    <a href="/" id="logo" title="Boatsetter" alt="Boatsetter">
        <div class="mobile-logo">
            <img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/bs-logo-icon.svg?e2adjmklu9" />
        </div>
    </a>

    <div class="container homepage-header">
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <a href="/" id="logo" title="Boatsetter" alt="Boatsetter">
                    <div class="desktop-logo">
                        <img class="img-responsive" src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/logo-bs.svg?e2adjmklu9">
                    </div>
                </a>
            </div>
        </a>

        <div id="mobile">
            <span class="searchSelBtn"><img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/gfx/search.svg?e2adjmklu9" alt="Search" title="Search filters" /></span>
            <span class="localeSelBtn"><img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/gfx/globe.svg?e2adjmklu9" alt="Location" title="Location options" /></span>
        </div>

        <div class="wth">

            <div class="main-search">
                <form action="/location" autocomplete="off" class="boat-form store-form" data-action="/en/p/boatsetter/marketplace/data/getboats" data-method="POST" method="get">                    <div style="width: 100%;">
                            <span class="main-search__location">
                                <div class="input-group">
                                    <select class="form-control icn icn--pin" data-val="true" data-val-number="The field LocationId must be a number." data-val-required="The LocationId field is required." id="locationId" name="browsers" placeholder="Destination" required="required">
                                    <option selected disabled style="display:none">Destination</option>
                                <% locations.map(element => { %>
                                    <option value="<%= element.DestinationName %>"><%= element.DestinationName %></option>
                                <% }) %>
                            </select>
                                </div>
                            </span>
                                
                        <span class="main-search__date-group">
                            <div class="input-group">
                              <input data-toggle="datepicker" class="form-control icn icn--calendar" type="text" method="get" placeholder="Date" readonly="readonly"/>

                            </div>
                        </span>

                        <span class="main-search__duration">
                            <div class="input-group">
                                <select Title="Duration" class="form-control icn icn--watch" data-allow-clear="true" id="Duration" name="Duration" placeholder="Duration" tags="true">
                                    <option value="" disabled selected style="display:none">Duration</option>
                                    <option value='DayCharter'> Day Charter</option>
                                    <option value='MultiDayCharter'>Multi-Day Charter</option>
                                    <option value='WeekCharter'> Week Charter</option>
                                </select>
                            </div>
                        </span>

                        <span class="main-search__passengers">
                            <div class="input-group">
                                <select Title="2" class="form-control icn icn--passengers" data-allow-clear="true" id="PassengerCountMin" name="PassengerCountMin" tags="true"><option value='2'selected='selected'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='14'>13+ </option></select>
                            </div>
                        </span>

                        <button type="submit" class="btn btn-primary" id="search"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>

        <nav id="site">


            <a href="tel:+1 (954) 715-4114" >
                <img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/gfx/phone.svg?e2adjmklu9" />
                +1 (954) 715-4114
            </a>

            <span class="site-langs site-langs">

            </span>
        </nav>
    </div>
    <div id="notification-bar" style="display: none">
        <p class="bold">Book with confidence this summer! </p> <p>Ultra flexible cancellation policy allows full refund up to 14 days before charter date.</p>
        <div class="close-notification-container">
            <span class="close-notification close"><img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/close.png?e2adjmklu9" alt="close" title="Close notification" /></span>
        </div>
    </div>
</header>

<script>
    $(document).ready(function () {
        document.addEventListener('keypress',
            function (e) {
                var code = e.keyCode || e.which;
                if (code === 13) {
                    $(".boat-form").submit();
                }
            }
        );
        $(".close-notification").on("click", function (){
            $("#notification-bar").css("display", "none");
        });
    });
</script>