<header id="header">
    <a href="/" id="logo" title="Boatsetter" alt="Boatsetter">
        <div class="mobile-logo">
            <img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/bs-logo-icon.svg?e2adjmklu9" />
        </div>
    </a>

    <div class="container homepage-header">

        <a href="/" id="logo" title="Boatsetter" alt="Boatsetter">
            <div class="desktop-logo">
                <img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/logo-bs.svg?e2adjmklu9" />
            </div>
        </a>

        <div id="mobile">
            <span class="searchSelBtn"><img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/gfx/search.svg?e2adjmklu9" alt="Search" title="Search filters" /></span>
            <span class="localeSelBtn"><img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/gfx/globe.svg?e2adjmklu9" alt="Location" title="Location options" /></span>
        </div>

        <div class="wth">

            <div class="main-search">
                <form action="/en/p/boatsetter/marketplace/boats" autocomplete="off" class="boat-form store-form" data-action="/en/p/boatsetter/marketplace/data/getboats" data-method="POST" method="get">                    <div style="width: 100%;">
                            <span class="main-search__location">
                                <div class="input-group">
                                    <select class="form-control icn icn--pin" data-val="true" data-val-number="The field LocationId must be a number." data-val-required="The LocationId field is required." id="locationId" name="LocationId" placeholder="Destination" required="required">
<option selected disabled style="display:none">Destination</option>
                                        <option value="11432">United States</option>
<option value="11433">Florida</option>
<option value="11434">Miami</option>
<option value="11435">Canc&#250;n</option>
<option value="11436">Cape Town</option>
<option value="11437">Ibiza</option>
<option value="12177">Dubrovnik</option>
<option value="12178">Mal&#233;</option>
<option value="12179">Puerto Vallarta</option>
<option value="12180">Cabo San Lucas</option>
<option value="12181">Opština Budva</option>
<option value="12182">Rovinj</option>
<option value="12183">Road Town</option>
<option value="12184">Nuevo Vallarta</option>
<option value="12239">Saint Maries</option>
<option value="12242">Dorado</option>
<option value="12245">Nassau</option>
<option value="12251">Messina</option>
<option value="12256">Trapani</option>
<option value="12261">Waverton</option>
<option value="12264">Punta Cana</option>
<option value="12281">Faro</option>
<option value="12324">Leeward Settlement</option>
<option value="12392">Ponce</option>
<option value="12395">La Paz</option>
<option value="12398">Montego Bay</option>
<option value="12401">Castries</option>
<option value="12404">Anse La Raye</option>
<option value="12407">Gros Islet</option>
<option value="12409">Calgary</option>
<option value="12412">Platis Gialos</option>
<option value="12417">Saint James</option>
<option value="12422">Palermo</option>
<option value="12425">Giardini Naxos</option>
<option value="12428">Charlotte Amalie</option>
<option value="12431">Tambon Ko Chang</option>
<option value="12436">Santa Maria di Leuca</option>
<option value="12441">San Foca</option>
<option value="12450">Carri&#232;res-sous-Poissy</option>
<option value="12478">Glyfada</option>
<option value="12485">Beaulieu-sur-Mer</option>
<option value="12490">Parham Town</option>
<option value="12497">Dubai</option>
<option value="12500">Lake Como</option>
<option value="12505">Mykonos</option>
<option value="12537">British West Indies</option>
<option value="12540">Viseisei</option>
<option value="12550">Empuriabrava</option>
<option value="12557">Playa del Carmen</option>
<option value="12594">San Miguel de Cozumel</option>
<option value="12607">Puerto Aventuras</option>
<option value="12616">Qu&#233;bec</option>
<option value="12630">Piraeus</option>
<option value="12641">Rincon de Mar</option>
<option value="12644">Villeneuve-Loubet</option>
<option value="12667">Lefkada</option>
<option value="12700">Corfu</option>
<option value="12707">Tambon Chalong</option>
<option value="12710">Bridgetown</option>
<option value="12727">Estate Bovoni</option>
<option value="12730">Punta Mita</option>
<option value="12732">Bodrum</option>
<option value="12735">&#214;l&#252;deniz</option>
<option value="12738">Providenciales</option>
<option value="12742">Olbia</option>
<option value="12745">Col&#242;nia de Sant Jordi</option>
<option value="12753">Holetown</option>
<option value="12758">La Cruz de Huanacaxtle</option>
<option value="12761">Pointe-&#224;-Pitre</option>
<option value="12766">Guanacaste Province</option>
<option value="12769">Playa Flamingo/Las Catalinas</option>
<option value="12775">East End</option>
<option value="12805">Vila Franca Do Campo</option>
<option value="12811">Cascais</option>
<option value="12823">Saraburi</option>
<option value="12826">Tambon Ko Kaeo</option>
<option value="12834">Santo Domingo</option>
<option value="12850">Kuala Lumpur</option>
<option value="12856">Mallorca</option>
<option value="12871">Puerto Morelos</option>
<option value="12880">Tambon Bo Put</option>
<option value="12884">Thailand</option>
<option value="12894">Koh Samui</option>
<option value="12909">Tricase</option>
<option value="12916">Andaluc&#237;a</option>
<option value="12921">Estepona</option>
<option value="12942">Saint-Tropez</option>
<option value="12951">Barcelona</option>
<option value="12958">Sant Adri&#224; de Bes&#242;s</option>
<option value="12989">Vigo</option>
<option value="13006">Venetian Road Settlement</option>
<option value="13008">Murta Maria</option>
<option value="13015">Pescara</option>
<option value="13038">Anse Marcel</option>
<option value="13059">Tulum</option>
<option value="13066">Astypalaia</option>
<option value="13069">Las Jarretaderas</option>
<option value="13089">Alimos</option>
<option value="13115">Paleo Faliro</option>
<option value="13118">Fajardo</option>
<option value="13122">Preveza</option>
<option value="13152">Focene</option>
<option value="13155">Cannes</option>
<option value="13158">Cambrils</option>
<option value="13206">Reggio Calabria</option>
<option value="13214">La Romana</option>
<option value="13238">Moss Town</option>
<option value="13241">Gustavia</option>
<option value="13261">Adeje</option>
<option value="13279">Simpson Bay</option>
<option value="13284">Kalymnos</option>
<option value="13287">Bonifacio</option>
<option value="13290">Phuket</option>
<option value="13309">Saint-Jean-Cap-Ferrat</option>
<option value="13314">Vodice</option>
<option value="13328">Lozica</option>
<option value="13334">St. Barthelemy</option>
<option value="13371">Viareggio</option>
<option value="13378">George Town</option>
<option value="13387">Sukawati</option>
<option value="13396">Z&#233; Doca</option>
<option value="13400">Toronto</option>
<option value="13501">Demajagua</option>
<option value="13508">Funchal</option>
<option value="13520">Bratislava</option>
<option value="13526">Herradura</option>
<option value="13545">Grand Cayman</option>
<option value="13603">Mexico</option>
<option value="13604">Italy</option>
<option value="13605">Spain</option>
<option value="13606">Croatia</option>
<option value="13607">France</option>
<option value="13608">Greece</option>
<option value="13609">Portugal</option>
<option value="13610">Montenegro</option>
<option value="13612">Canada</option>
<option value="13613">South Africa</option>
<option value="13614">United Arab Emirates</option>
<option value="13615">Maldives</option>
<option value="13616">Colombia</option>
<option value="13618">Fiji</option>
<option value="13619">Australia</option>
<option value="13620">Belize</option>
<option value="13621">Puerto Rico</option>
<option value="13622">Turks and Caicos</option>
<option value="13623">British Virgin Islands</option>
<option value="13624">Jamaica</option>
<option value="13625">Saint Lucia</option>
<option value="13626">Virgin Islands US</option>
<option value="13627">Antigua &amp; Barbuda</option>
<option value="13628">Bahamas</option>
<option value="13629">Dominican Republic</option>
<option value="13630">Barbados</option>
<option value="13631">Turkey</option>
<option value="13632">Guadeloupe</option>
<option value="13633">Costa Rica</option>
<option value="13634">Malaysia</option>
<option value="13635">Indonesia</option>
<option value="13636">Sardinia</option>
<option value="13637">Cayman Islands</option>
<option value="13638">Slovakia</option>
<option value="13639">Brazil</option>
<option value="13641">Madeira</option>
<option value="13675">Mediterranean</option>
<option value="13678">Jalisco</option>
<option value="13679">Baja California Sur</option>
<option value="13680">Quintana Roo</option>
<option value="13681">New Providence</option>
<option value="13682">Nayarit</option>
<option value="13683">Balearic Islands</option>
<option value="13684">Istria</option>
<option value="13685">Tortola</option>
<option value="13687">Amalfi</option>
<option value="13688">Sorrento</option>
<option value="13690">Positano</option>
<option value="13691">Split</option>
<option value="13692">Kaštel Gomilica</option>
<option value="13693">Trogir</option>
<option value="13694">Kraljevica</option>
<option value="13695">La Altagracia Province</option>
<option value="13699">Belize City</option>
<option value="13700">Alberta</option>
<option value="13702">Rest of the World </option>
<option value="13704">The Caribbean</option>
<option value="13706">Seget Donji</option>
<option value="13707">Matulji</option>
<option value="14639">Central America</option>
<option value="14984">Alacant</option>
<option value="14986">Milazzo</option>
<option value="14987">Tonnarella</option>
<option value="15015">Set&#250;bal</option>
<option value="15053">Santorini</option>
<option value="15242">Soller</option>
<option value="15252">Port Adriano</option>
<option value="15541">Honolulu</option>
<option value="15922">Palm Beach</option>
<option value="15942">Fort Lauderdale</option>
<option value="15951">New York</option>
<option value="16099">Chicago</option>
<option value="16270">Naples</option>
<option value="16358">Hawaii</option>
<option value="16359">Maui</option>
<option value="16484">Lake Tahoe</option>
<option value="16487">San Diego</option>
<option value="16533">Newport Beach</option>
<option value="16706">Hamptons</option>
<option value="16711">Palamos</option>
<option value="16717">Eleuthera</option>
<option value="16780">San Francisco</option>
<option value="16908">Jac&#243;</option>
<option value="16932">Lisbon</option>
<option value="17007">Crete</option>
<option value="17032">Lagos</option>
<option value="17101">Washington DC</option>
<option value="19206">Marbella</option>
<option value="20009">San Jos&#233; del Cabo</option>
<option value="20192">Marseille</option>
<option value="20227">Airlie</option>
<option value="20275">Los Sue&#241;os</option>
<option value="20960">Palma</option>
<option value="20961">Andratx</option>
<option value="20962">Alc&#250;dia</option>
<option value="20971">Martinique</option>
<option value="21468">Idaho</option>
<option value="27165">Tamarindo</option>
<option value="27166">Papagayo/Culebra</option>
<option value="28262">Corsica</option>
<option value="28565">Ontario</option>
<option value="28642">Saint Martin</option>
<option value="28886">Menorca</option>
<option value="28966">Ocho Rios</option>
<option value="29241">Montezuma</option>
<option value="29242">Playa Hermosa</option>
<option value="29243">Quepos</option>
<option value="29704">South of France</option>
<option value="30093">Key West</option>
<option value="30420">Cartagena</option>
<option value="30886">India</option>
<option value="30965">Saint Thomas</option>
<option value="31000">Egypt</option>
<option value="31001">Hurghada</option>
<option value="31069">Anguilla</option>
<option value="31087">Rio de Janeiro</option>
<option value="31096">Algarve</option>
<option value="31111">Richmond </option>
<option value="31331">Germany</option>
<option value="31446">Bacalar</option>
<option value="31622">Paros, Greek Islands</option>
<option value="31758">Mauritius</option>
<option value="32435">Sicily</option>
<option value="32942">Bermuda</option>
<option value="33108">Monaco</option>
<option value="33369">Puglia</option>
<option value="33372">Monopoli </option>
<option value="33527">North America</option>
<option value="33684">Pollenca</option>
<option value="33688">Ixtapa</option>
<option value="33699">Ierapetra</option>
<option value="33714">Abacos</option>
<option value="33857">Chania</option>
<option value="33868">Hampshire</option>
<option value="33881">Cebu</option>
<option value="34161">Windsor</option>
<option value="34303"> Le Marin</option>
<option value="34482">Pireas</option>
<option value="34494">Tivat</option>
<option value="34692">Panama</option>
<option value="34854">Banderas Bay</option>
<option value="35519">Marmaris</option>
<option value="36119">Thessaloniki</option>
<option value="36142">Grosseto </option>
<option value="36143">Tuscany</option>
<option value="36275">Split Riviera</option>
<option value="36720">Paliouri</option>
<option value="37035">Cadaques</option>
<option value="37634">Agia Pelagia</option>
<option value="37716">Panama City</option>
<option value="38173">United Kingdom</option>
<option value="38193">England</option>
<option value="38194">Abersoch</option>
<option value="38224">Playa Sosua</option>
<option value="38393">French Riviera</option>
<option value="38959">Vancouver</option>
<option value="40977">Portofino</option>
<option value="50904">Rhodes</option>
<option value="54131">Peru </option>
<option value="54132">Lima </option>
<option value="54217">Malta </option>
<option value="54232">Zakythos </option>
<option value="54233">Zakynthos </option>
<option value="54393">Punta Arenas </option>
<option value="54401">Canary Islands </option>
<option value="55203">Galapagos Islands</option>
<option value="55806">Kos </option>
<option value="55809">Spanish Wells </option>
<option value="56286">Krabi</option>
<option value="56492">Bali</option>
<option value="56878">Pattaya</option>
<option value="56944">Staniel Cay</option>
<option value="57012">Athens </option>
<option value="57122">Harbour Island</option>
<option value="57362">Capri</option>
<option value="57471">Playas del Coco</option>
<option value="57523">Negril</option>
<option value="57629">Šibenik</option>
<option value="57658">Pakistan</option>
<option value="57659">Karachi</option>
<option value="57725">Istanbul </option>
<option value="57903">Manarola </option>
<option value="57910">Cinque Terre </option>
<option value="57911">La Spezia</option>
<option value="57912">Liguria </option>
<option value="58091">Frejus </option>
<option value="58201">Golfe Juan </option>
<option value="58228">Saint John </option>
<option value="58298">Netherlands </option>
<option value="58299">Amsterdam </option>
<option value="58346">San Pedro</option>
<option value="58449">Isla Mujeres</option>
<option value="58604">Rethymno</option>
<option value="58650">Guatemala</option>
<option value="58741">Heraklion </option>
<option value="58787">Chania </option>
<option value="58798">Capo d&#39;Orlando</option>
<option value="58865">Vietnam</option>
<option value="58866">Ho Chi Minh</option>
<option value="58980">Kissamos</option>
<option value="59246">Porto Cervo</option>
<option value="59371">Girona </option>
<option value="59372">Roses </option>
<option value="59373">Costa Brava </option>
<option value="59652">Exumas </option>
<option value="59653">Georgetown</option>
<option value="60043">Cannigione</option>
<option value="60139">Sydney </option>
<option value="60391">Placencia</option>
<option value="60451">Puerto Quetzal</option>
<option value="61328">West Palm Beach</option>
<option value="61375">Tampa</option>
<option value="61452">Villasimius</option>
<option value="61575">Greenwich </option>
<option value="61798">Bonaire </option>
<option value="65513">Stintino </option>
<option value="65842">Aruba </option>
<option value="67368">Zimbabwe </option>
<option value="74942">Newport </option>
<option value="75842">Delray Beach</option>
</select>
                                </div>
                            </span>

                        <span class="main-search__date-group">
                            <div class="input-group">
                              <input data-toggle="datepicker" class="form-control icn icn--calendar" type="text" method="get" placeholder="Date" readonly="readonly"/>

                            </div>
                        </span>

                        <span class="main-search__duration">
                            <div class="input-group">
                                <select Title="Duration" class="form-control icn icn--watch" data-allow-clear="true" id="Duration" name="Duration" placeholder="Duration" tags="true">
                                    <option value="" disabled selected style="display:none">Duration</option>
                                    <option value='DayCharter'> Day Charter</option>
                                    <option value='MultiDayCharter'>Multi-Day Charter</option>
                                    <option value='WeekCharter'> Week Charter</option>
                                </select>
                            </div>
                        </span>

                        <span class="main-search__passengers">
                            <div class="input-group">
                                <select Title="2" class="form-control icn icn--passengers" data-allow-clear="true" id="PassengerCountMin" name="PassengerCountMin" tags="true"><option value='2'selected='selected'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option><option value='12'>12</option><option value='14'>13+ </option></select>
                            </div>
                        </span>

                        <button type="submit" class="btn btn--bold" id="search"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>

        <nav id="site">


            <a href="tel:+1 (954) 715-4114" >
                <img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/gfx/phone.svg?e2adjmklu9" />
                +1 (954) 715-4114
            </a>

            <span class="site-langs site-langs">

            </span>
        </nav>
    </div>
    <div id="notification-bar" style="display: none">
        <p class="bold">Book with confidence this summer! </p> <p>Ultra flexible cancellation policy allows full refund up to 14 days before charter date.</p>
        <div class="close-notification-container">
            <span class="close-notification close"><img src="https://d17nxorp0ub7gm.cloudfront.net/BoatSetter.Static/dist/app/assets/images/close.png?e2adjmklu9" alt="close" title="Close notification" /></span>
        </div>
    </div>
</header>

<script>
    $(document).ready(function () {
        document.addEventListener('keypress',
            function (e) {
                var code = e.keyCode || e.which;
                if (code === 13) {
                    $(".boat-form").submit();
                }
            }
        );
        $(".close-notification").on("click", function (){
            $("#notification-bar").css("display", "none");
        });
    });
</script>